In [1]:
import pandas as pd, numpy as np

In [2]:
d1 = pd.read_csv('../modelDatasets/roughnessModelDataset.csv')

In [3]:
d2 = pd.read_csv('../modelDatasets/fullDataset.csv')

In [4]:
print len(d2)
d2.head()

373539

,Unnamed: 0,sYear,IntID,Rutting,IRI,PSC,PPC,PRC,Alli,Long,...,Prior Major Rehab Type,sfThick,Tthick,TSfThick,STcode,cumPPT,meanMinTemp,meanMaxTemp,cumESALs,cumFTC
0,0,1981,4,0.236,190.039,92,58,79,NaN,46.0,...,ACP,0.00,0.15,0.15,PA,1690.469971,1.31,26.85,57829.947364,0
1,1,1981,4,0.236,190.039,92,58,79,NaN,46.0,...,ACP,0.00,0.15,0.15,PA,1690.469971,1.31,26.85,57829.947364,0
2,2,1981,4,0.236,190.039,92,58,79,NaN,46.0,...,ACP,0.00,0.15,0.15,PA,1690.469971,1.31,26.85,57829.947364,0
3,3,1981,12,0.236,226.083,83,48,79,NaN,NaN,...,ACP,0.15,1.65,0.90,Other,2157.649902,-2.84,25.23,35421.157984,208
4,4,1981,24,0.512,245.150,37,43,49,81.9,426.6,...,ACP,0.15,1.56,0.98,BA,337.529999,-5.94,31.23,58882.558639,83

In [5]:
d1.head()

,Unnamed: 0,SR,EA,BA,Direction To Inventory,Traffic Year,AADT,Single Trucks,Double Trucks,Train Trucks,Peak Hour Percentage,Peak Hour Directional Split,Traffic Year ESALs _One Direction_,Percent Trucks,UID
0,0,2,0.13,0.00,D,2004,8313,198,40,0,0.1502,1.0000,43508,2.86,1
1,1,2,0.19,0.13,B,2004,8313,198,40,0,0.1502,1.0000,21754,2.86,NaN
2,2,2,0.35,0.19,B,2004,20814,495,100,0,0.1502,1.0000,54458,2.86,NaN
3,3,2,2.16,0.35,B,2004,69473,4794,799,264,0.0956,0.5269,579912,8.43,NaN
4,4,2,2.34,2.16,B,2004,67921,4687,781,258,0.0956,0.5269,567192,8.43,NaN

In [6]:
d1.columns

Index([u'Unnamed: 0', u'SR', u'EA', u'BA', u'Direction To Inventory',
       u'Traffic Year', u'AADT', u'Single Trucks', u'Double Trucks',
       u'Train Trucks', u'Peak Hour Percentage',
       u'Peak Hour Directional Split', u'Traffic Year ESALs _One Direction_',
       u'Percent Trucks', u'UID'],
      dtype='object')

In [28]:
d1s = d1[['UID', 'Traffic Year', 'AADT', 'Traffic Year ESALs _One Direction_', 'Percent Trucks', 
          u'Single Trucks', u'Double Trucks', u'Train Trucks']]

In [29]:
d1s.columns = ['UID', 'tYear', 'AADT', 'ESAL', 'pTrucks', u'SingleTrucks', u'DoubleTrucks', u'TrainTrucks']

In [30]:
ds = pd.merge(d1s, d2, how = 'left', left_on = ['UID', 'tYear'], right_on = ['UID', 'sYear'])

In [31]:
print len(ds), len(d1s), len(d2)

56645 52428 373539

In [32]:
df = ds.dropna(subset = ['ESAL', 'UID'])
df = df.drop_duplicates(subset = ['UID', 'tYear'])

In [34]:
df.to_csv('cp255_A8.csv')

In [33]:
print len(df), len(ds)

7647 56645

In [13]:
df.head()

,UID,tYear,AADT,ESAL,pTrucks,SingleTrucks,DoubleTrucks,TrainTrucks,Unnamed: 0,sYear,...,Prior Major Rehab Type,sfThick,Tthick,TSfThick,STcode,cumPPT,meanMinTemp,meanMaxTemp,cumESALs,cumFTC
0,1,2004,8313,43508,2.86,198,40,0,264764,2004,...,NaN,0.25,1.00,0.25,BA,10640.559936,1.078182,24.900000,274171.756138,125
6,NaN,2004,8313,21754,2.86,198,40,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,153,2004,21022,275739,12.61,1987,595,69,263826,2004,...,ACP,0.15,2.29,0.75,BA,8751.709961,1.047143,24.995715,650949.401572,81
39,262,2004,13536,171057,11.03,1052,338,103,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,1003,2004,12215,82362,5.88,471,225,22,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
data = df.dropna(subset = ['UID'])

In [15]:
print len(data.UID.unique())

1090

In [16]:
ds = data.sort(columns = ['UID', 'tYear'])

In [17]:
ds.head()

,UID,tYear,AADT,ESAL,pTrucks,SingleTrucks,DoubleTrucks,TrainTrucks,Unnamed: 0,sYear,...,Prior Major Rehab Type,sfThick,Tthick,TSfThick,STcode,cumPPT,meanMinTemp,meanMaxTemp,cumESALs,cumFTC
0,1,2004,8313,43508,2.86,198,40,0,264764,2004,...,NaN,0.25,1,0.25,BA,10640.559936,1.078182,24.900000,274171.756138,125
116,1,2005,8337,43508,2.86,198,40,0,280428,2005,...,NaN,0.25,1,0.25,BA,11562.159912,0.994167,24.890000,302899.119509,137
228,1,2006,8411,43800,2.86,200,40,0,295168,2006,...,NaN,0.25,1,0.25,BA,12686.089966,0.938462,24.864615,331670.268359,146
342,1,2007,9522,77052,4.28,329,76,2,310553,2007,...,NaN,0.25,1,0.25,BA,13672.529968,0.856429,24.824286,360496.722274,167
462,1,2008,9361,75956,4.28,324,75,2,327063,2008,...,NaN,0.25,1,0.25,BA,14580.199951,0.768000,24.756667,388402.195608,192

In [18]:
# for year in ds.tYear.unique():
#     print '%d: %d unique segments' %(year, len(ds[ds.tYear == year]))
# ds[ds.UID ==1].tYear
# n = 0
# for x in ds.UID.unique():
#     temp = ds[ds.UID == x]
#     if len(temp) == 10:
#         n+=1
# print n

# Next step is to identify the rows that will be useful for perfoming the 1st Difference Regression 
After this stage, I will be able to model roughness with cracking and other covariates and possibly get more efficient parameter estimates. The work is to be continued shortly

In [19]:
# test = ds[(ds.UID == 146) & (ds.tYear == 2010) & (ds.tYear == 2009) ]
# print len(test)

In [20]:
#Thought I was gonna do diff in diffs but it didnt work as planned
# year_list = []
# for x in ds.UID.unique():
#     temp = ds[(ds.UID == x)]
#     years = list(np.array(temp.tYear))
#     toAppend = years[1:] + [0]
#     year_list += toAppend
# ds.loc[:, 'dYear'] = year_list
# ds.loc[:, 'year_diff'] = ds.apply(lambda x: x['dYear'] - x['tYear'], axis = 1)

# Now using whole dataset

In [22]:
# ds = d1.copy()

In [27]:
print len(ds[ds.Alli.isnull()==True])
print len(ds[(ds.Long.isnull()==0) & (ds.Alli.isnull()==1)])
print len(ds[(ds.Long.isnull()==1) & (ds.Alli.isnull()==0)])
print len(ds[(ds.Long.isnull()==0) & (ds.Alli.isnull()==0)])
print len(ds)
print len(ds[ds.PSC.isnull() ==1])

54368
2810
267
2010
56645
50372

In [81]:
subdf = ds[((ds.Long.isnull()==0) | (ds.Alli.isnull()==0)) & (ds.PSC.isnull() ==0)]
print len(subdf)

1607

In [83]:
# For model PSC = c + a * Alli + b * Long
c = 79.283
a = -0.121
b = -0.038
woAlli = subdf[subdf.Alli.isnull() == 1]
woLong = subdf[subdf.Long.isnull() == 1]

In [84]:
woAlli.Alli = woAlli.PSC.sub(woAlli.Long.mul(b)).sub(c).mul(1/a)
woLong.Long = woLong.PSC.sub(woLong.Alli.mul(a)).sub(c).mul(1/b)

/Users/Alan/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/pandas/core/generic.py:2177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [86]:
woAlli.Alli = woAlli.apply(lambda x: 0 if x['Alli'] < 0 else x['Alli'], axis = 1)
woLong.Long = woLong.apply(lambda x: 0 if x['Long'] < 0 else x['Long'], axis = 1)

In [88]:
woNulls = subdf[(subdf.Alli.isnull() == 0) & (subdf.Long.isnull() == 0)]
print len(woNulls)

598

In [92]:
model_ds = pd.concat([woNulls, woAlli, woLong])
print len(model_ds) == len(subdf)

True

In [93]:
#Changing IRI units from inches/mile to meters/Km
model_ds.loc[:, 'IRIsi'] = model_ds.IRI * 0.08333333 * 0.189394

#Changing feet to miles for the respective segments
model_ds.loc[:, 'Alli'] = 0.000189394 * model_ds.Alli
model_ds.loc[:, 'Long'] = 0.000189394 * model_ds.Long

# Determining percent cracking as the total length of cracks divided by survey section
model_ds.loc[:, 'pAlli'] = model_ds.Alli.div(model_ds.loc[:, 'Lane Miles']).mul(100)
model_ds.loc[:, 'pLong'] = model_ds.Long.div(model_ds.loc[:, 'Lane Miles']).mul(100)

In [96]:
nds = model_ds[(model_ds.IRIsi < 8) & (model_ds.pAlli < 80) & (model_ds.pLong < 200)]
print len(nds)*100.0/len(model_ds)

99.1910392035

In [106]:
nds['IRIsi'].head()

493     1.900727
262     1.779483
1361    0.884170
1599    1.388179
1721    1.422270
Name: IRIsi, dtype: float64

In [103]:
def getDiff(db, variable, newName):
    val_list = []
    for x in db.UID.unique():
        temp = db[(db.UID == x)]
        values = list(np.array(temp[variable]))
        toAppend = values[1:] + [0]
        val_list += toAppend
    db.loc[:, newName] = val_list

In [110]:
ndf = nds.sort(columns = ['UID', 'tYear'])

In [111]:
for item in ['Rutting', 'IRIsi', 'pAlli', 'pLong', 'cumPPT']:
    newName = 'd'+item
    getDiff(ndf, item, newName)

In [112]:
ndf.head()

,UID,tYear,AADT,CUM_ESALs,pTrucks,SingleTrucks,DoubleTrucks,TrainTrucks,Unnamed: 0,sYear,...,dYear,year_diff,IRIsi,pAlli,pLong,dRutting,dIRIsi,dpAlli,dpLong,dcumPPT
228,1,2006,8411,43800,2.86,200,40,0,295168,2006,...,2007,1,2.054625,0,0.946970,0.184,2.714647,0.000000,0.828599,16548.319946
696,1,2010,6482,36847,3.34,193,22,1,362951,2010,...,2011,1,2.714647,0,0.828599,0.360,3.705020,0.000000,4.340279,17611.539917
811,1,2011,6447,36701,3.34,192,22,1,381625,2011,...,2012,1,3.705020,0,4.340279,0.274,3.203915,0.000000,5.172824,18980.039917
913,1,2012,6593,37285,3.34,196,22,1,394281,2012,...,2013,1,3.203915,0,5.172824,0.000,0.000000,0.000000,0.000000,0.000000
25,153,2004,21022,275739,12.61,1987,595,69,263826,2004,...,2005,1,1.784565,0,1.231061,0.202,1.900727,0.094697,0.568182,4241.309937