In [1]:
import pandas as pd, numpy as np

In [34]:
d1 = pd.read_csv('../modelDatasets/weather_vars_stats2.csv')
d2 = pd.read_csv('../../Research Data/Rmodels/data/mdata.csv')
d3 = pd.read_csv('../../Research Data/Rmodels/data/mcdata.csv')

In [33]:
d2.columns

Index([u'UID', u'IsBridge', u'Lane Surface Type', u'LaneMiles', u'Region_x',
       u'FFClass', u'SurfaceTypeCode', u'STDescription', u'TreatBaseCode',
       u'TreatBaseDescription', u'TBThick', u'untrthick', u'Y_ESAL',
       u'MajorRehabYear', u'Cum_ESAL', u'SURFTHK', u'ULT', u'TSfThick',
       u'tmin', u'tmax', u'cumESALs', u'IRIsi', u'Alli', u'Long', u'E_Alli',
       u'E_Long', u'prep', u'MinT', u'MaxT', u'FTCycles', u'actbthick',
       u'pctbthick', u'ftprep', u'BA', u'AA', u'AADT', u'ptrucks', u'Trucks',
       u'PCars', u'VehMiles', u'TruckMiles'],
      dtype='object')

In [35]:
d3.columns

Index([u'Unnamed: 0', u'UID', u'IsBridge', u'Lane Surface Type', u'LaneMiles',
       u'Region_x', u'FFClass', u'SurfaceTypeCode', u'STDescription',
       u'TreatBaseCode', u'TreatBaseDescription', u'TBThick', u'untrthick',
       u'Y_ESAL', u'MajorRehabYear', u'Cum_ESAL', u'SURFTHK', u'ULT',
       u'TSfThick', u'tmin', u'tmax', u'cumESALs', u'IRIsi', u'Alli', u'Long',
       u'E_Alli', u'E_Long', u'prep', u'MinT', u'MaxT', u'FTCycles',
       u'actbthick', u'pctbthick', u'ftprep', u'BA', u'AA', u'SR', u'BMP',
       u'SpeedLimit'],
      dtype='object')

In [37]:
print len(d2) == len(d3)
d2.head()

True

,UID,IsBridge,Lane Surface Type,LaneMiles,Region_x,FFClass,SurfaceTypeCode,STDescription,TreatBaseCode,TreatBaseDescription,...,pctbthick,ftprep,BA,AA,AADT,ptrucks,Trucks,PCars,VehMiles,TruckMiles
0,650,0,ACP,0.20,North Central,Rural Other Principal Arterial,D2,ACP CLASS 1/2IN PG58-34,0,NaN,...,0,78155.358890,0,0,4257,8.42,107531.82,1446273.18,289254.6360,21506.3640
1,2651,0,ACP,0.30,Eastern,Rural Other Principal Arterial,BA,ACP CLASS B AR4000W,0,NaN,...,0,28866.599490,1,0,7834,12.01,282259.02,2577150.98,773145.2940,84677.7060
2,1193,0,ACP,0.20,North Central,Urban Other Freeway/Expressway,BA,ACP CLASS B AR4000W,0,NaN,...,0,4056.779846,1,0,21068,13.73,867790.92,6822029.08,1364405.8160,173558.1840
3,1070,0,ACP,0.20,North Central,Rural Other Freeway/Expressway,BA,ACP CLASS B AR4000W,0,NaN,...,0,6786.360077,1,0,14987,12.31,553469.91,4916785.09,983357.0180,110693.9820
4,1192,0,ACP,0.12,North Central,Urban Other Freeway/Expressway,H2,ACP CLASS 1/2IN PG70-28,0,NaN,...,0,4056.779846,0,0,19317,13.73,795667.23,6255037.77,750604.5324,95480.0676

In [39]:
d4 = d3[['UID', 'SpeedLimit']]

In [40]:
d5 = pd.merge(d2, d4, how = 'left', left_on = ['UID'], right_on = 'UID')
print len(d5) == len(d2)

True

In [41]:
d5.head()

,UID,IsBridge,Lane Surface Type,LaneMiles,Region_x,FFClass,SurfaceTypeCode,STDescription,TreatBaseCode,TreatBaseDescription,...,ftprep,BA,AA,AADT,ptrucks,Trucks,PCars,VehMiles,TruckMiles,SpeedLimit
0,650,0,ACP,0.20,North Central,Rural Other Principal Arterial,D2,ACP CLASS 1/2IN PG58-34,0,NaN,...,78155.358890,0,0,4257,8.42,107531.82,1446273.18,289254.6360,21506.3640,35
1,2651,0,ACP,0.30,Eastern,Rural Other Principal Arterial,BA,ACP CLASS B AR4000W,0,NaN,...,28866.599490,1,0,7834,12.01,282259.02,2577150.98,773145.2940,84677.7060,60
2,1193,0,ACP,0.20,North Central,Urban Other Freeway/Expressway,BA,ACP CLASS B AR4000W,0,NaN,...,4056.779846,1,0,21068,13.73,867790.92,6822029.08,1364405.8160,173558.1840,45
3,1070,0,ACP,0.20,North Central,Rural Other Freeway/Expressway,BA,ACP CLASS B AR4000W,0,NaN,...,6786.360077,1,0,14987,12.31,553469.91,4916785.09,983357.0180,110693.9820,60
4,1192,0,ACP,0.12,North Central,Urban Other Freeway/Expressway,H2,ACP CLASS 1/2IN PG70-28,0,NaN,...,4056.779846,0,0,19317,13.73,795667.23,6255037.77,750604.5324,95480.0676,45

In [42]:
d2 = d5.copy()

In [43]:
print len(d2[d2.UID.isin(d1.UID)])*100.0/len(d2)

100.0

In [44]:
d3 = pd.merge(d2,d1, how = 'left', left_on = 'UID', right_on = 'UID')
print len(d3) == len(d2)

True

In [45]:
d3.head()

,UID,IsBridge,Lane Surface Type,LaneMiles,Region_x,FFClass,SurfaceTypeCode,STDescription,TreatBaseCode,TreatBaseDescription,...,ESALmean,ESALstd,PPTmean,PPTstd,MINTmean,MINTstd,MAXTmean,MAXTstd,FTCmean,FTCstd
0,650,0,ACP,0.20,North Central,Rural Other Principal Arterial,D2,ACP CLASS 1/2IN PG58-34,0,NaN,...,44081.379449,6589.909598,2224.992258,426.469803,-7.831613,2.052909,20.842258,1.514390,109.058824,24.197347
1,2651,0,ACP,0.30,Eastern,Rural Other Principal Arterial,BA,ACP CLASS B AR4000W,0,NaN,...,115228.195023,17225.944328,406.129032,82.530361,-7.534194,2.057869,29.046129,1.505589,57.235294,13.751163
2,1193,0,ACP,0.20,North Central,Urban Other Freeway/Expressway,BA,ACP CLASS B AR4000W,0,NaN,...,302745.962932,62935.804968,235.987095,66.798432,-5.805484,2.233711,32.124194,1.326798,28.470588,15.065987
3,1070,0,ACP,0.20,North Central,Rural Other Freeway/Expressway,BA,ACP CLASS B AR4000W,0,NaN,...,238905.150962,35714.929228,417.224842,105.782953,-6.976774,2.114408,31.401935,1.365993,28.470588,15.065987
4,1192,0,ACP,0.12,North Central,Urban Other Freeway/Expressway,H2,ACP CLASS 1/2IN PG70-28,0,NaN,...,277551.984267,57698.399613,235.987095,66.798432,-5.805484,2.233711,32.124194,1.326798,28.470588,15.065987

In [46]:
d3.columns

Index([u'UID', u'IsBridge', u'Lane Surface Type', u'LaneMiles', u'Region_x',
       u'FFClass', u'SurfaceTypeCode', u'STDescription', u'TreatBaseCode',
       u'TreatBaseDescription', u'TBThick', u'untrthick', u'Y_ESAL',
       u'MajorRehabYear', u'Cum_ESAL', u'SURFTHK', u'ULT', u'TSfThick',
       u'tmin', u'tmax', u'cumESALs', u'IRIsi', u'Alli', u'Long', u'E_Alli',
       u'E_Long', u'prep', u'MinT', u'MaxT', u'FTCycles', u'actbthick',
       u'pctbthick', u'ftprep', u'BA', u'AA', u'AADT', u'ptrucks', u'Trucks',
       u'PCars', u'VehMiles', u'TruckMiles', u'SpeedLimit', u'Unnamed: 0',
       u'ESALmean', u'ESALstd', u'PPTmean', u'PPTstd', u'MINTmean', u'MINTstd',
       u'MAXTmean', u'MAXTstd', u'FTCmean', u'FTCstd'],
      dtype='object')

In [48]:
d3[['UID', 'Lane Surface Type', 'SURFTHK', 'ULT']].head()

    UID Lane Surface Type  SURFTHK   ULT
0   650               ACP     0.17  1.40
1  2651               ACP     0.15  2.47
2  1193               ACP     0.25  1.55
3  1070               ACP     0.25  1.29
4  1192               ACP     0.15  1.48

In [49]:
ds = d3[[u'UID', u'IsBridge', u'Lane Surface Type', u'LaneMiles', u'Region_x',
       u'FFClass', u'SurfaceTypeCode', u'STDescription', u'TreatBaseCode',
       u'TreatBaseDescription', u'TBThick', u'untrthick', u'Y_ESAL',
       u'MajorRehabYear', u'Cum_ESAL', u'SURFTHK', u'ULT', u'TSfThick',
       u'tmin', u'tmax', u'cumESALs', u'IRIsi', u'Alli', u'Long', u'E_Alli',
       u'E_Long', u'prep', u'MinT', u'MaxT', u'FTCycles', u'actbthick',
       u'pctbthick', u'ftprep', u'BA', u'AA', u'AADT', u'ptrucks', u'Trucks',
       u'PCars', u'VehMiles', u'TruckMiles', u'SpeedLimit',
       u'ESALmean', u'ESALstd', u'PPTmean', u'PPTstd', u'MINTmean', u'MINTstd',
       u'MAXTmean', u'MAXTstd', u'FTCmean', u'FTCstd']]

In [50]:
ds['SpeedLimit'] = ds.SpeedLimit.astype(int)

/Users/Alan/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [51]:
ds.SpeedLimit.head()

0    35
1    60
2    45
3    60
4    45
Name: SpeedLimit, dtype: int64

In [52]:
ds.to_csv('../../Research Data/Rmodels/data/mcsdataset.csv')

# working on fuel efficiency dataset

In [19]:
df = pd.read_csv('../../Research Data/Rmodels/data/VehFE2.csv')

In [20]:
df.head()

,Unnamed: 0,IRI,PC25,PT25,PC30,PT30,PC35,PT35,PC40,PT40,...,PC50,PT50,PC55,PT55,PC60,PT60,PC65,PT65,PC70,PT70
0,0,2.00,34.664233,15.343837,33.007217,14.453644,31.350200,13.563450,29.693183,12.673256,...,26.379150,10.892869,24.722133,10.002675,22.534165,8.807644,20.580273,7.608519,18.608190,6.405300
1,1,2.01,34.656694,15.341129,33.000259,14.451273,31.343802,13.561395,29.687323,12.671494,...,26.374298,10.891627,24.717752,10.001660,22.531090,8.806752,20.576772,7.607750,18.604404,6.404653
2,2,2.02,34.649036,15.338403,32.993245,14.448889,31.337404,13.559330,29.681513,12.669725,...,26.369581,10.890383,24.713539,10.000644,22.528469,8.805859,20.573477,7.606980,18.600618,6.404006
3,3,2.03,34.641378,15.335677,32.986231,14.446504,31.331006,13.557264,29.675703,12.667956,...,26.364863,10.889139,24.709326,9.999629,22.525848,8.804966,20.570183,7.606210,18.596832,6.403359
4,4,2.04,34.633720,15.332951,32.979217,14.444120,31.324608,13.555199,29.669893,12.666187,...,26.360146,10.887894,24.705113,9.998613,22.523227,8.804074,20.566888,7.605440,18.593046,6.402712

In [21]:
df['IRI'] = df.IRI.mul(100)

In [22]:
df.columns

Index([u'Unnamed: 0', u'IRI', u'PC25', u'PT25', u'PC30', u'PT30', u'PC35',
       u'PT35', u'PC40', u'PT40', u'PC45', u'PT45', u'PC50', u'PT50', u'PC55',
       u'PT55', u'PC60', u'PT60', u'PC65', u'PT65', u'PC70', u'PT70'],
      dtype='object')

In [24]:
feds = df[[u'IRI', u'PC25', u'PT25', u'PC30', u'PT30', u'PC35',
       u'PT35', u'PC40', u'PT40', u'PC45', u'PT45', u'PC50', u'PT50', u'PC55',
       u'PT55', u'PC60', u'PT60', u'PC65', u'PT65', u'PC70', u'PT70']]

In [25]:
feds.head()

,IRI,PC25,PT25,PC30,PT30,PC35,PT35,PC40,PT40,PC45,...,PC50,PT50,PC55,PT55,PC60,PT60,PC65,PT65,PC70,PT70
0,200,34.664233,15.343837,33.007217,14.453644,31.350200,13.563450,29.693183,12.673256,28.036167,...,26.379150,10.892869,24.722133,10.002675,22.534165,8.807644,20.580273,7.608519,18.608190,6.405300
1,201,34.656694,15.341129,33.000259,14.451273,31.343802,13.561395,29.687323,12.671494,28.030821,...,26.374298,10.891627,24.717752,10.001660,22.531090,8.806752,20.576772,7.607750,18.604404,6.404653
2,202,34.649036,15.338403,32.993245,14.448889,31.337404,13.559330,29.681513,12.669725,28.025572,...,26.369581,10.890383,24.713539,10.000644,22.528469,8.805859,20.573477,7.606980,18.600618,6.404006
3,203,34.641378,15.335677,32.986231,14.446504,31.331006,13.557264,29.675703,12.667956,28.020322,...,26.364863,10.889139,24.709326,9.999629,22.525848,8.804966,20.570183,7.606210,18.596832,6.403359
4,204,34.633720,15.332951,32.979217,14.444120,31.324608,13.555199,29.669893,12.666187,28.015073,...,26.360146,10.887894,24.705113,9.998613,22.523227,8.804074,20.566888,7.605440,18.593046,6.402712

In [27]:
feds['IRI'] = feds.IRI.astype(int)

/Users/Alan/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [29]:
feds.IRI.head()

0    200
1    200
2    202
3    202
4    204
Name: IRI, dtype: int64

In [28]:
feds.to_csv('../../Research Data/Rmodels/data/VehFuelE.csv') # Vehicle Fuel Efficiency dataset