In [1]:
import pandas as pd, numpy as np

In [2]:
ds = pd.read_csv("~/Desktop/PhD_Research/Rmodels/data/rmData1115.csv")

In [3]:
print len(ds)
ds.head()

52827

,Unnamed: 0,UID,sYear,Rutting,IRI,PSC,Alli,Long,Is Bridge,Lane Miles,...,cumFTC,pAlli,pLong,IRIsi,esals,ppt,mint,maxt,ICAO,ftc
0,0,222,1988,0.236,8.815663,78,0.004356,0.023523,1,0.22,...,0,1.980028,10.692152,1.669634,80705.085747,1653.949951,0.78,24.230000,KAWO,0
1,1,583,1988,0.512,14.358494,37,0.023864,0.011932,1,0.12,...,1015,19.886370,9.943185,2.719413,44455.741252,2380.080078,-5.49,22.139999,KESW,109
2,2,589,1988,0.512,14.358494,37,0.065909,0.032955,0,0.33,...,1015,19.972458,9.986229,2.719413,42903.651207,2380.080078,-5.49,22.139999,KESW,109
3,3,1623,1988,0.236,11.085579,62,0.011932,0.029924,0,0.30,...,188,3.977274,9.974751,2.099542,14421.467543,184.009995,-8.78,28.590000,KEPH,19
4,4,1650,1988,0.236,12.669245,68,0.011932,0.029924,0,0.22,...,188,5.423555,13.601933,2.399479,11364.528711,186.139999,-8.73,28.510000,KEPH,19

In [4]:
print ds.mint.min()

-14.6899995804

In [5]:
ds['mint'] = ds.mint.mul(9.0/5).add(32)

In [6]:
print ds.mint.min()

5.55800075528

In [7]:
ds['maxt'] = ds.maxt.mul(9.0/5).add(32)

In [8]:
ds.head()

,Unnamed: 0,UID,sYear,Rutting,IRI,PSC,Alli,Long,Is Bridge,Lane Miles,...,cumFTC,pAlli,pLong,IRIsi,esals,ppt,mint,maxt,ICAO,ftc
0,0,222,1988,0.236,8.815663,78,0.004356,0.023523,1,0.22,...,0,1.980028,10.692152,1.669634,80705.085747,1653.949951,33.404000,75.613999,KAWO,0
1,1,583,1988,0.512,14.358494,37,0.023864,0.011932,1,0.12,...,1015,19.886370,9.943185,2.719413,44455.741252,2380.080078,22.118000,71.851999,KESW,109
2,2,589,1988,0.512,14.358494,37,0.065909,0.032955,0,0.33,...,1015,19.972458,9.986229,2.719413,42903.651207,2380.080078,22.118000,71.851999,KESW,109
3,3,1623,1988,0.236,11.085579,62,0.011932,0.029924,0,0.30,...,188,3.977274,9.974751,2.099542,14421.467543,184.009995,16.196000,83.462000,KEPH,19
4,4,1650,1988,0.236,12.669245,68,0.011932,0.029924,0,0.22,...,188,5.423555,13.601933,2.399479,11364.528711,186.139999,16.286001,83.318000,KEPH,19

In [9]:
ds.columns

Index([u'Unnamed: 0', u'UID', u'sYear', u'Rutting', u'IRI', u'PSC', u'Alli',
       u'Long', u'Is Bridge', u'Lane Miles', u'Segment Lane Miles',
       u'ESALs Since Major Rehab', u'sfThick', u'Tthick', u'TSfThick',
       u'STcode', u'cumPPT', u'meanMinTemp', u'meanMaxTemp', u'cumESALs',
       u'cumFTC', u'pAlli', u'pLong', u'IRIsi', u'esals', u'ppt', u'mint',
       u'maxt', u'ICAO', u'ftc'],
      dtype='object')

In [11]:
dt = pd.read_csv('../modelDatasets/fullDataset.csv')

In [20]:
dt.columns

Index([u'Unnamed: 0', u'sYear', u'IntID', u'Rutting', u'IRI', u'PSC', u'PPC',
       u'PRC', u'Alli', u'Long', u'SR', u'Begin ARM', u'End ARM', u'UID',
       u'Is Bridge', u'Lane Surface Type', u'Lane Miles', u'Region_x',
       u'Federal Functional Class', u'Construction End Date',
       u'Substantial Completion Date', u'Contract Type Description',
       u'Surface Type Code', u'Surface Type Description', u'Surface Thickness',
       u'Treat Base Type Code', u'Treat Base Type Description',
       u'Treat Base Thickness', u'UTreat Base Thickness', u'cYear',
       u'Traffic Year', u'ESALs', u'Construction Year', u'Major Rehab Year',
       u'Segment Lane Miles', u'ESALs Since Major Rehab', u'Total Thickness',
       u'Total Surface Thickness', u'Listed Surface Type', u'Pavement Type',
       u'Construction Pavement Type', u'Major Rehab Type',
       u'Prior Major Rehab Year', u'Prior Major Rehab Type', u'sfThick',
       u'Tthick', u'TSfThick', u'STcode', u'cumPPT', u'meanMinTemp',
       u'meanMaxTemp', u'cumESALs', u'cumFTC'],
      dtype='object')

In [21]:
dt2 = dt[[ u'SR', u'Begin ARM', u'End ARM', 'UID', u'sYear']]

In [25]:
dt2 = dt2.drop_duplicates(subset = 'UID')

In [26]:
dt2 = dt2[(dt2.sYear >= 1988)& (dt2.sYear < 2000)]

In [27]:
print len(dt2)
print len(ds[ds.UID.isin(dt2.UID)])

8927
52827

In [28]:
rdt = pd.merge(ds, dt2, how='left', left_on = 'UID', right_on = 'UID')
print len(rdt)

52827

In [29]:
rdt.head()

,Unnamed: 0,UID,sYear_x,Rutting,IRI,PSC,Alli,Long,Is Bridge,Lane Miles,...,esals,ppt,mint,maxt,ICAO,ftc,SR,Begin ARM,End ARM,sYear_y
0,0,222,1988,0.236,8.815663,78,0.004356,0.023523,1,0.22,...,80705.085747,1653.949951,33.404000,75.613999,KAWO,0,2,22.12,22.23,1988
1,1,583,1988,0.512,14.358494,37,0.023864,0.011932,1,0.12,...,44455.741252,2380.080078,22.118000,71.851999,KESW,109,2,58.27,58.31,1988
2,2,589,1988,0.512,14.358494,37,0.065909,0.032955,0,0.33,...,42903.651207,2380.080078,22.118000,71.851999,KESW,109,2,58.87,58.98,1988
3,3,1623,1988,0.236,11.085579,62,0.011932,0.029924,0,0.30,...,14421.467543,184.009995,16.196000,83.462000,KEPH,19,2,162.25,162.35,1988
4,4,1650,1988,0.236,12.669245,68,0.011932,0.029924,0,0.22,...,11364.528711,186.139999,16.286001,83.318000,KEPH,19,2,164.95,165.05,1988

In [33]:
rdf = rdt.sort(columns = ['UID', 'sYear_x'])

/Users/Alan/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [36]:
rdf = rdf.drop_duplicates(subset = ['UID', 'sYear_x'])

In [37]:
rdf.head(10)

,Unnamed: 0,UID,sYear_x,Rutting,IRI,PSC,Alli,Long,Is Bridge,Lane Miles,...,esals,ppt,mint,maxt,ICAO,ftc,SR,Begin ARM,End ARM,sYear_y
25095,25095,1,1988,0.748,17.736993,67,0.001370,0.056856,0,0.36,...,17996.598271,918.010010,33.584,74.336001,KPAE,5,2,0.00,0.10,1988
26540,26540,1,1989,0.236,17.736993,82,0.000000,0.029924,0,0.36,...,18686.830557,833.750000,26.042,72.968000,KPAE,11,2,0.00,0.10,1988
28193,28193,1,1990,0.236,18.159243,82,0.000000,0.029924,0,0.36,...,19088.431115,1106.859985,28.454,76.333998,KPAE,18,2,0.00,0.10,1988
29936,29936,1,1991,0.236,18.159243,71,0.000000,0.056856,0,0.36,...,19903.607821,848.960022,32.378,77.666002,KPAE,5,2,0.00,0.10,1988
15536,15536,1,1996,0.276,20.059659,66,0.010038,0.056856,0,0.36,...,22868.344489,1188.750000,32.054,77.575999,KPAE,24,2,0.00,0.10,1988
18641,18641,1,1998,0.512,20.693158,52,0.013049,0.080795,0,0.36,...,24602.593853,1028.229980,34.124,79.448001,KPAE,9,2,0.00,0.10,1988
47704,47704,1,1999,0.079,7.759914,97,0.000000,0.001894,0,0.30,...,25309.823837,1209.099976,36.770,73.292001,KPAE,20,2,0.00,0.10,1988
34273,34273,24,1993,0.150,15.340327,84,0.000000,0.029924,1,0.15,...,124387.071486,838.200012,28.778,73.544000,KPAE,9,2,2.39,2.49,1988
39180,39180,24,1995,0.039,15.393161,84,0.000000,0.029924,1,0.15,...,129987.082735,1066.130005,33.314,76.442001,KPAE,4,2,2.39,2.49,1988
43863,43863,24,1997,0.197,17.610243,84,0.000000,0.029924,1,0.15,...,138363.412916,1148.380005,34.502,78.044000,KPAE,5,2,2.39,2.49,1988

In [65]:
selected_IDs = []
for sr in rdf.SR.unique():
    temp = rdf[rdf.SR == sr]
    min_id = temp.UID.min()
    max_id = temp.UID.max()
    n = int((max_id - min_id)/10.0)
    for m in range(n):
        if (m%2 == 0):
            p = np.array(temp.UID[(temp.UID >= (min_id+m*10)) & (temp.UID < (min_id+ (m+1)*10))])
            if len(p) > 0:
                s = np.random.choice(p, 1)[0] # select item in that range
                selected_IDs.append(s)

In [66]:
print len(selected_IDs)
selected_IDs[0:20]

1960

[1,
 27,
 43,
 66,
 81,
 104,
 125,
 142,
 188,
 226,
 265,
 287,
 304,
 344,
 367,
 387,
 402,
 430,
 446,
 463]

In [67]:
data = rdf[rdf.UID.isin(selected_IDs)]

In [69]:
print len(data)
print len(ds)

10256
52827

In [72]:
data.columns

Index([u'Unnamed: 0', u'UID', u'sYear_x', u'Rutting', u'IRI', u'PSC', u'Alli',
       u'Long', u'Is Bridge', u'Lane Miles', u'Segment Lane Miles',
       u'ESALs Since Major Rehab', u'sfThick', u'Tthick', u'TSfThick',
       u'STcode', u'cumPPT', u'meanMinTemp', u'meanMaxTemp', u'cumESALs',
       u'cumFTC', u'pAlli', u'pLong', u'IRIsi', u'esals', u'ppt', u'mint',
       u'maxt', u'ICAO', u'ftc', u'SR', u'Begin ARM', u'End ARM', u'sYear_y'],
      dtype='object')

In [75]:
data = data[[u'UID', u'sYear_x', u'Rutting', u'IRI', u'PSC', u'Alli',
       u'Long', u'Is Bridge', u'Lane Miles', u'Segment Lane Miles',
       u'ESALs Since Major Rehab', u'sfThick', u'Tthick', u'TSfThick',
       u'STcode', u'cumPPT', u'meanMinTemp', u'meanMaxTemp', u'cumESALs',
       u'cumFTC', u'pAlli', u'pLong', u'IRIsi', u'esals', u'ppt', u'mint',
       u'maxt', u'ICAO', u'ftc', u'SR', u'Begin ARM', u'End ARM']]

In [76]:
data.columns = [u'UID', u'sYear', u'Rutting', u'IRI', u'PSC', u'Alli',
       u'Long', u'Is Bridge', u'Lane Miles', u'Segment Lane Miles',
       u'ESALs Since Major Rehab', u'sfThick', u'Tthick', u'TSfThick',
       u'STcode', u'cumPPT', u'meanMinTemp', u'meanMaxTemp', u'cumESALs',
       u'cumFTC', u'pAlli', u'pLong', u'IRIsi', u'esals', u'ppt', u'mint',
       u'maxt', u'ICAO', u'ftc', u'SR', u'Begin ARM', u'End ARM']

In [77]:
data.to_csv('../modelDatasets/rcModelData1215.csv')

In [8]:
# ds.to_csv('../modelDatasets/rmData1215.csv')