In [1]:
import pandas as pd, numpy as np

In [2]:
ds = pd.read_csv('../modelDatasets/rcModelData1215.csv')

In [3]:
print len(ds)
ds.head()

10256

,Unnamed: 0,UID,sYear,Rutting,IRI,PSC,Alli,Long,Is Bridge,Lane Miles,...,IRIsi,esals,ppt,mint,maxt,ICAO,ftc,SR,Begin ARM,End ARM
0,25095,1,1988,0.748,17.736993,67,0.001370,0.056856,0,0.36,...,3.359280,17996.598271,918.010010,33.584,74.336001,KPAE,5,2,0,0.1
1,26540,1,1989,0.236,17.736993,82,0.000000,0.029924,0,0.36,...,3.359280,18686.830557,833.750000,26.042,72.968000,KPAE,11,2,0,0.1
2,28193,1,1990,0.236,18.159243,82,0.000000,0.029924,0,0.36,...,3.439252,19088.431115,1106.859985,28.454,76.333998,KPAE,18,2,0,0.1
3,29936,1,1991,0.236,18.159243,71,0.000000,0.056856,0,0.36,...,3.439252,19903.607821,848.960022,32.378,77.666002,KPAE,5,2,0,0.1
4,15536,1,1996,0.276,20.059659,66,0.010038,0.056856,0,0.36,...,3.799179,22868.344489,1188.750000,32.054,77.575999,KPAE,24,2,0,0.1

In [4]:
cd = pd.read_csv('../FinalDatasets/RCsegCoord.csv')

In [5]:
cd.head()

   Unnamed: 0  Unnamed: 0.1   UID   Longitude   Latitude
0           0             0   222 -121.802218  47.860322
1           1             1   540 -121.252570  47.715980
2           2             2  2431 -118.301093  47.646535
3           3             3   704 -121.000382  47.774584
4           4             4   776 -120.868954  47.787672

In [6]:
df = ds.drop_duplicates(subset = ['UID'])

In [7]:
print len(df[df.UID.isin(cd.UID)]) == len(df)

True

In [8]:
mds = pd.merge(df,cd, how = 'left', left_on = 'UID', right_on = 'UID')
print len(mds) == len(df)

True

In [9]:
rds = mds[['UID', 'Latitude', 'Longitude']]
rds.head()

   UID   Latitude   Longitude
0    1  47.978215 -122.169366
1   27  47.978414 -122.133338
2   43  47.958874 -122.102727
3   66  47.947539 -122.070079
4   81  47.922928 -122.062374

In [10]:
print len(rds)
rds.columns = ['UID', 'latitude', 'longitude']

1960

In [11]:
rds.to_csv('../modelDatasets/rm_seg_coords.csv') # Roughness model