In [1]:
import pandas as pd, numpy as np

In [3]:
ds = pd.read_csv("../../Research Data/Rmodels/data/mcsdataset.csv")

In [4]:
ds.head()

,Unnamed: 0,UID,IsBridge,Lane Surface Type,LaneMiles,Region_x,FFClass,SurfaceTypeCode,STDescription,TreatBaseCode,...,ESALmean,ESALstd,PPTmean,PPTstd,MINTmean,MINTstd,MAXTmean,MAXTstd,FTCmean,FTCstd
0,0,650,0,ACP,0.20,North Central,Rural Other Principal Arterial,D2,ACP CLASS 1/2IN PG58-34,0,...,44081.379449,6589.909598,2224.992258,426.469803,-7.831613,2.052909,20.842258,1.514390,109.058824,24.197347
1,1,2651,0,ACP,0.30,Eastern,Rural Other Principal Arterial,BA,ACP CLASS B AR4000W,0,...,115228.195023,17225.944328,406.129032,82.530361,-7.534194,2.057869,29.046129,1.505589,57.235294,13.751163
2,2,1193,0,ACP,0.20,North Central,Urban Other Freeway/Expressway,BA,ACP CLASS B AR4000W,0,...,302745.962932,62935.804968,235.987095,66.798432,-5.805484,2.233711,32.124194,1.326798,28.470588,15.065987
3,3,1070,0,ACP,0.20,North Central,Rural Other Freeway/Expressway,BA,ACP CLASS B AR4000W,0,...,238905.150962,35714.929228,417.224842,105.782953,-6.976774,2.114408,31.401935,1.365993,28.470588,15.065987
4,4,1192,0,ACP,0.12,North Central,Urban Other Freeway/Expressway,H2,ACP CLASS 1/2IN PG70-28,0,...,277551.984267,57698.399613,235.987095,66.798432,-5.805484,2.233711,32.124194,1.326798,28.470588,15.065987

In [6]:
ds.columns

Index([u'Unnamed: 0', u'UID', u'IsBridge', u'Lane Surface Type', u'LaneMiles',
       u'Region_x', u'FFClass', u'SurfaceTypeCode', u'STDescription',
       u'TreatBaseCode', u'TreatBaseDescription', u'TBThick', u'untrthick',
       u'Y_ESAL', u'MajorRehabYear', u'Cum_ESAL', u'SURFTHK', u'ULT',
       u'TSfThick', u'tmin', u'tmax', u'cumESALs', u'IRIsi', u'Alli', u'Long',
       u'E_Alli', u'E_Long', u'prep', u'MinT', u'MaxT', u'FTCycles',
       u'actbthick', u'pctbthick', u'ftprep', u'BA', u'AA', u'AADT',
       u'ptrucks', u'Trucks', u'PCars', u'VehMiles', u'TruckMiles',
       u'SpeedLimit', u'ESALmean', u'ESALstd', u'PPTmean', u'PPTstd',
       u'MINTmean', u'MINTstd', u'MAXTmean', u'MAXTstd', u'FTCmean',
       u'FTCstd'],
      dtype='object')

In [8]:
ds[['tmax', 'tmin', 'MinT', 'MaxT']].describe()

              tmax         tmin         MinT         MaxT
count  4083.000000  4083.000000  4083.000000  4083.000000
mean     26.538737    -1.883748    -2.763559    27.112192
std       3.508982     3.012661     3.108339     3.976180
min      17.492667    -9.650000   -10.100000    17.889999
25%      24.386875    -4.889028    -5.730000    24.850000
50%      25.376667    -0.480000    -1.240000    25.770000
75%      29.708333     0.401765    -0.450000    30.865000
max      34.441538     2.237647     1.310000    36.169998

In [9]:
ds['tmin'] = ds.tmin.mul(9.0/5).add(32)
ds['tmax'] = ds.tmax.mul(9.0/5).add(32)

In [11]:
ds['MINTmean'] = ds.MINTmean.mul(9.0/5).add(32)
ds['MINTstd'] = ds.MINTstd.mul(9.0/5).add(32)
ds['MAXTmean'] = ds.MAXTmean.mul(9.0/5).add(32)
ds['MAXTstd'] = ds.MAXTstd.mul(9.0/5).add(32)

In [12]:
ds.to_csv("../../Research Data/Rmodels/data/mcsdataset2.csv")