In [1]:
import pandas as pd
import numpy as np
import xlsxwriter

In [2]:
wds = pd.read_excel('../DataFiles/AnnualWeatherR.xlsx')

In [99]:
wds2 = pd.read_excel('../DataFiles/AnnualWeatherR2.xlsx')

In [100]:
wds2.head()

   Year  FTCycles Airport
0  2000         3    KBFI
1  2001         5    KBFI
2  2002         9    KBFI
3  2003         5    KBFI
4  2004         4    KBFI

In [3]:
wds.head()

,Year,MaxTMM,MinTMM,MaxTAnnualM,MixTAnnualM,AnnualPreci,FTCycles,Airport
0,1986,80.548387,36.903226,60.870289,46.679103,0.00,4,KBFI
1,1987,76.612903,32.838710,61.769784,46.325115,0.00,5,KBFI
2,1984,77.322581,30.677419,60.193314,46.055877,0.00,9,KBFI
3,1985,83.000000,30.709677,59.158186,44.028123,0.00,16,KBFI
4,1982,76.096774,37.000000,60.643363,46.190847,550.39,8,KBFI

In [4]:
wd = wds[['Year', 'FTCycles', 'Airport']]

In [101]:
wdt = pd.concat([wd, wds2], axis = 0)

In [102]:
len(wdt) == len(wd)+len(wds2)

True

In [103]:
wdt.head()

   Year  FTCycles Airport
0  1986         4    KBFI
1  1987         5    KBFI
2  1984         9    KBFI
3  1985        16    KBFI
4  1982         8    KBFI

In [20]:
# dbu = db.drop_duplicates(subset = ['Int ID'])
# dbu.to_csv('../DataFiles/SegmentDataset.csv')

In [49]:
# importing the dataset containing the airport-seg linking IDs
# ld = pd.read_csv('~/Dropbox/2015/PhD Stuff/ExcelFiles_HistWData/segAPcodeN1.csv')
ld = pd.read_csv('../DataFiles/segmentAPlinker.csv')

In [50]:
ld.index = ld.InputID

In [51]:
ld.head()

         InputID TargetID  Distance
InputID
54964      54964     KHQM  0.730177
55012      55012     KHQM  0.730177
55019      55019     KHQM  0.725933
55369      55369     KPWT  0.465580
55432      55432     KPAE  0.324248

In [11]:
# importing the dataset containing all the other covariates
db = pd.read_excel('../DataFiles/cdata.xlsx')

In [29]:
# db[db.loc[:, 'Int ID'] == 54964]

In [32]:
def getCode(row):
    index = row['Int ID']
    return ld.loc[index,'TargetID']

In [52]:
db['ICAO'] = db.apply(getCode, axis = 1)

In [104]:
def getFTCycles(row):
    ind = row['ICAO']
    year  = row['YearC']
    ftc   = list(wdt[((wdt.loc[:,'Airport']== ind) & (wdt.loc[:,'Year'] == year))].loc[:,'FTCycles'])[0]
    return ftc

In [82]:
# codes = np.unique(np.array(ld.loc[:,'TargetID']))
# for key in codes:
#     for year in np.arange(33)+1981:
#         tdb = wdt[((wdt.loc[:,'Airport']== key) & (wdt.loc[:,'Year'] == year))]
# key = 'KBFI'
# year = 2004
# t  = wdt[((wdt.loc[:,'Airport']== key) & (wdt.loc[:,'Year'] == year))]
# print len(t)

In [106]:
db.head()

,YearC,Int ID,SR,Begin ARM,End ARM,Year,Contract Type Description,Surface Type Code,Surface Type Description,Surface Thickness,...,ESALs,Contract History ID,STcode,Latitude,Longitude,PPT,MinTemp,MaxTemp,ICAO,FTCycles
0,2003,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,40724.540843,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017,185.619995,-2.08,34.279999,KHQM,2
1,2004,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,35842.303869,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017,215.160004,-4.13,33.490002,KHQM,9
2,2005,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,35649.988229,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017,188.020004,-4.41,33.029999,KHQM,4
3,2006,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,35979.602372,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017,251.809998,-3.32,34.799999,KHQM,4
4,2007,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,36506.698358,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017,173.809998,-4.77,34.380001,KHQM,9

In [105]:
db['FTCycles'] = db.apply(getFTCycles, axis = 1)

In [107]:
db.to_excel('../DataFiles/completeDataset.xlsx')