In [1]:
import pandas as pd, numpy as np

In [2]:
cds = pd.read_csv('../FinalDatasets/RCSegCoord.csv')

In [10]:
cds = cds[['UID', 'Longitude', 'Latitude']]

In [5]:
df = pd.read_csv('../modelDatasets/mdata.csv')

In [7]:
df.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'UID', u'IsBridge',
       u'Lane Surface Type', u'LaneMiles', u'Region_x', u'FFClass',
       u'SurfaceTypeCode', u'STDescription', u'TreatBaseCode',
       u'TreatBaseDescription', u'TBThick', u'untrthick', u'Y_ESAL',
       u'MajorRehabYear', u'Cum_ESAL', u'SURFTHK', u'ULT', u'TSfThick',
       u'tmin', u'tmax', u'cumESALs', u'IRIsi', u'Alli', u'Long', u'E_Alli',
       u'E_Long', u'prep', u'MinT', u'MaxT', u'FTCycles', u'actbthick',
       u'pctbthick', u'ftprep', u'BA', u'AA', u'AADT', u'ptrucks', u'Trucks',
       u'PCars'],
      dtype='object')

In [9]:
ndf = df[['UID', 'IsBridge', 'SURFTHK', 'ULT', 'MinT', 'MaxT', 'prep', 'AADT', 'Y_ESAL']]

In [12]:
ds = pd.merge(ndf, cds, how='left', left_on = 'UID', right_on = 'UID')
print len(ds[ds.prep.isnull()==1])

0

In [14]:
print len(ds) == len(ndf)
ds.head()

True

,UID,IsBridge,SURFTHK,ULT,MinT,MaxT,prep,AADT,Y_ESAL,Longitude,Latitude
0,650,0,0.17,1.40,-5.48,21.600000,2056.719971,4257,43180,-121.081023,47.747946
1,2651,0,0.15,2.47,-8.73,30.420000,343.649994,7834,112872,-117.836807,47.667265
2,1193,0,0.25,1.55,-4.85,33.630001,193.179993,21068,387283,-120.314557,47.467898
3,1070,0,0.25,1.29,-6.27,32.840000,323.160004,14987,234020,-120.552730,47.543849
4,1192,0,0.15,1.48,-4.85,33.630001,193.179993,19317,355054,-120.314557,47.467898

In [35]:
ds = ds.sort(columns = ['UID'])
ds.head(6)

/Users/Alan/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,UID,IsBridge,SURFTHK,ULT,MinT,MaxT,prep,AADT,Y_ESAL,Longitude,Latitude
712,1,0,0.25,1.00,-0.69,24.90,841.650024,6415,30058,-122.169366,47.978215
635,24,1,0.00,0.15,-0.92,24.65,906.809998,45712,174012,-122.133338,47.978414
1704,27,0,0.35,1.35,-0.92,24.65,906.809998,28060,106908,-122.133338,47.978414
706,28,0,0.15,1.69,-0.92,24.65,906.809998,28060,106908,-122.133338,47.978414
671,33,0,0.12,1.54,-0.92,24.65,906.809998,31066,118246,-122.120592,47.970205
27,66,1,0.00,0.15,-1.14,24.42,1024.199951,20944,79442,-122.070079,47.947539

In [25]:
diff = np.array(ds.UID)[1:] - np.array(ds.UID)[:-1]

In [36]:
mask = diff > 4
col_mask = [True] + list(mask)
print len(col_mask)
print sum(col_mask)

4083
1761

In [37]:
print len(mask)
print mask[:5]
print sum(mask)

4082
[ True False False  True  True]
1760

In [26]:
print len(diff)
print len(ds)

4082
4083

In [38]:
sds = ds[col_mask]

In [39]:
print len(sds)
sds.head()

1761

,UID,IsBridge,SURFTHK,ULT,MinT,MaxT,prep,AADT,Y_ESAL,Longitude,Latitude
712,1,0,0.25,1.00,-0.69,24.900000,841.650024,6415,30058,-122.169366,47.978215
635,24,1,0.00,0.15,-0.92,24.650000,906.809998,45712,174012,-122.133338,47.978414
671,33,0,0.12,1.54,-0.92,24.650000,906.809998,31066,118246,-122.120592,47.970205
27,66,1,0.00,0.15,-1.14,24.420000,1024.199951,20944,79442,-122.070079,47.947539
694,81,0,0.25,1.15,-1.31,24.799999,1088.739990,20995,79671,-122.062374,47.922928

In [40]:
sds.to_csv('../modelDatasets/cp255A8.csv')