In [1]:
import numpy as np
import pandas as pd
import xlsxwriter

In [2]:
db = pd.read_excel("../DataFiles/AnnualWeatherR.xlsx")

In [3]:
db.head()

,Year,MaxTMM,MinTMM,MaxTAnnualM,MixTAnnualM,AnnualPreci,FTCycles,Airport
0,1986,80.548387,36.903226,60.870289,46.679103,0.00,4,KBFI
1,1987,76.612903,32.838710,61.769784,46.325115,0.00,5,KBFI
2,1984,77.322581,30.677419,60.193314,46.055877,0.00,9,KBFI
3,1985,83.000000,30.709677,59.158186,44.028123,0.00,16,KBFI
4,1982,76.096774,37.000000,60.643363,46.190847,550.39,8,KBFI

In [8]:
db[db.loc[:,'FTCycles'] > 100]

,Year,MaxTMM,MinTMM,MaxTAnnualM,MixTAnnualM,AnnualPreci,FTCycles,Airport
460,1986,70.161290,21.129032,45.720981,34.511636,92.62,121,KESW
462,1984,65.903226,18.258065,43.285824,32.656563,92.53,147,KESW
463,1985,72.645161,15.433333,43.649885,31.499814,75.39,102,KESW
464,1982,62.387097,21.387097,43.396729,33.090175,1004.22,124,KESW
465,1983,64.032258,14.548387,44.266852,34.212366,75.90,110,KESW
467,1981,69.516129,22.967742,45.705690,35.325467,823.59,109,KESW
468,1999,64.392857,25.363636,45.235291,34.467769,65.48,127,KESW
469,1998,70.800000,20.774194,46.723349,35.784281,78.51,147,KESW
470,1996,68.870968,20.129032,44.149446,33.377393,136.91,133,KESW
471,1993,63.100000,16.774194,44.424597,33.571563,149.54,101,KESW
472,1988,64.354839,20.838710,45.884291,35.173971,86.36,109,KESW
474,1991,65.354839,21.516129,46.105844,34.854192,183.96,117,KESW
476,1990,67.387097,17.419355,45.862071,35.491596,591.37,103,KESW
477,1995,62.096774,20.548387,45.228756,34.892866,113.38,106,KESW
478,1997,67.903226,21.870968,45.325909,34.712986,72.28,117,KESW
479,1994,65.806452,20.535714,45.746134,34.858935,148.82,112,KESW