In [1]:
import numpy as np
import pandas as pd
import xlsxwriter

In [5]:
# up2data Dataset
ds = pd.read_excel("../DataFiles/wholeDataset.xlsx") 
# Rates of increment for ESALs
de = pd.read_excel("../DataFiles/EsalIncrements.xlsx") 
# Traffic Dataset
dt = pd.read_excel("../DataFiles/Traffic to Contract History.xlsx")

In [6]:
dt.head()

,Traffic Year,AADT,Single Trucks,Double Trucks,Train Trucks,Peak Hour Percentage,Peak Hour Directional Split,Traffic Year ESALs _One Direction_,Percent Trucks,Contract History ID
0,2013,31462,843,280,22,7.86,50.99,119738,3.64,7fbae59b-6ee6-4419-acb0-1db37aacd5f4
1,2013,23939,642,213,17,7.87,53.53,91031,3.64,39483404-7908-4e89-ade2-bec2391a60b6
2,2013,23939,642,213,17,7.87,53.53,91031,3.64,520f0233-9842-4d00-b92e-a10522a50102
3,2013,19593,525,174,14,8.00,52.73,74348,3.64,f042adcf-fe53-4442-be3c-66080c43e0e7
4,2013,20944,561,186,15,8.02,53.16,79442,3.64,5a9fd6df-7564-4251-a8ee-69f18e1f6e70

In [9]:
dts = dt[['Contract History ID','Traffic Year ESALs _One Direction_']]

In [11]:
dts.columns = ['CH_ID', '2013']

In [29]:
# dts.head()

In [16]:
dd = pd.merge(dts, ds, how = 'left',left_on = ['CH_ID'], right_on = ['Contract History ID'])

In [22]:
dn = dd.dropna(axis=0, how='any', thresh=None, subset=['ESALs'], inplace=False)

In [26]:
print len(dts) 
print len(dc)

21892
972

In [33]:
dc.columns

Index([                     u'CH_ID',                       u'2013',
                            u'YearC',           u'Sealed Alligator',
              u'Sealed Longitudinal',                     u'Int ID',
                               u'SR',                  u'Begin ARM',
                          u'End ARM',                       u'Year',
        u'Contract Type Description',          u'Surface Type Code',
         u'Surface Type Description',          u'Surface Thickness',
                           u'Region',                       u'ID_y',
                u'Construction Year',           u'Major Rehab Year',
               u'Segment Lane Miles',    u'ESALs Since Major Rehab',
                  u'Total Thickness',    u'Total Surface Thickness',
                    u'Pavement Type', u'Construction Pavement Type',
                 u'Major Rehab Type',     u'Prior Major Rehab Year',
           u'Prior Major Rehab Type',                u'Original ID',
                        u'Is Bridge',          u'Lane Surface Type',
                       u'Lane Miles',   u'Federal Functional Class',
            u'Avg Construction Date',       u'Avg Major Rehab Date',
                             u'Alli',                    u'CatAlli',
                             u'Long',                    u'CatLong',
                            u'AlliP',                      u'LongP',
                     u'Traffic Year',                      u'ESALs',
              u'Contract History ID',                     u'STcode',
                         u'Latitude',                  u'Longitude'],
      dtype='object')

In [25]:
dc = dn.drop_duplicates(subset = ['CH_ID', '2013'])
df = dc[['CH_ID', '2013','Federal Functional Class']]

In [55]:
df.head()

,CH_ID,2013,Federal Functional Class,Class,2012,2011,2010,2009,2008,2007,...,1990,1989,1988,1987,1986,1985,1984,1983,1982,1981
13,a334aa88-2d7c-4dae-8e59-9d9c796c4738,89571,Rural Other Principal Arterial,Rural,97175.130469,98048.142333,99504.359719,98132.803734,94896.149115,99876.037832,...,83009.085013,78859.658089,76935.394240,73156.142656,69209.575422,64241.804757,64058.944905,64526.103522,61430.598164,60700.783305
32,9651414b-ef35-444c-9196-37d84f27bdb2,89571,Rural Other Principal Arterial,Rural,97175.130469,98048.142333,99504.359719,98132.803734,94896.149115,99876.037832,...,83009.085013,78859.658089,76935.394240,73156.142656,69209.575422,64241.804757,64058.944905,64526.103522,61430.598164,60700.783305
63,30c5f141-e251-40a1-9fb7-f2dc5ab7eb91,131236,Urban Other Principal Arterial,Urban,123124.325727,123988.516486,124853.225336,123929.396081,121837.870066,125858.956217,...,83341.850614,81588.425542,78574.807729,75334.264002,72193.109338,68008.981651,65469.116548,60378.619289,57013.419669,56303.477694
101,16a53660-621d-41d1-ab50-693e5c372af4,134794,Urban Other Principal Arterial,Urban,126462.406367,127350.026602,128238.178975,127289.303357,125141.073011,129271.176692,...,85601.370140,83800.407148,80705.085746,77376.686137,74150.370174,69852.804663,67244.080099,62015.572011,58559.136905,57829.947364
138,bb2f3296-263c-4489-bf0f-76dad424459a,119300,Urban Other Principal Arterial,Urban,111926.087805,112711.679849,113497.742864,112657.936484,110756.636128,114412.001865,...,75761.854813,74167.904898,71428.377595,68482.563438,65627.098845,61823.520307,59514.657595,54887.144390,51828.011876,51182.639587

In [36]:
def getClass(row):
    f = row['Federal Functional Class']
    req = f.split()[0]
    return req

In [37]:
df['Class'] = df.apply(getClass, axis = 1)
di = de[['Year', 'pRural', 'pUrban']]
di.columns = ['Year', 'r', 'u']

/home/guerrero/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [53]:
def extrapolate(df):   
    for row in df.index:
        if df.loc[row, 'Class'] == 'Rural':
            cat = 'r'
        else:
            cat = 'u'
        for year in (np.arange(32)+1981)[::-1]:
            name = str(year)
            pname = str(year+1)
            ind  = year + 1 - 1980
            df.loc[row, name] = (df.loc[row, pname])/(1 + di.loc[ind, cat])

In [54]:
extrapolate(df)

In [56]:
ds.head()

,YearC,Sealed Alligator,Sealed Longitudinal,Int ID,SR,Begin ARM,End ARM,Year,Contract Type Description,Surface Type Code,...,Long,CatLong,AlliP,LongP,Traffic Year,ESALs,Contract History ID,STcode,Latitude,Longitude
0,2003,NaN,NaN,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,...,10,L,1.988636,0.946970,2013,32740,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017
1,2004,NaN,NaN,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,...,84,L,0.946970,7.954545,2013,32740,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017
2,2005,NaN,NaN,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,...,10,L,1.988636,0.946970,2013,32740,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017
3,2006,NaN,NaN,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,...,5,L,1.988636,0.473485,2013,32740,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017
4,2007,NaN,NaN,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,...,5,L,NaN,0.473485,2013,32740,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017

In [96]:
# df.columns

In [58]:
df2 = df[[u'2013',u'2012', u'2011', u'2010', u'2009', u'2008', u'2007', u'2006', u'2005', u'2004', u'2003', u'2002',
          u'2001', u'2000', u'1999',u'1998', u'1997', u'1996', u'1995', u'1994', u'1993', u'1992', u'1991',  u'1990',
          u'1989', u'1988', u'1987',u'1986', u'1985', u'1984', u'1983',u'1982', u'1981']]

In [67]:
len(np.array(df.loc[:, 'CH_ID']))

972

In [68]:
df2.index = np.array(df.loc[:, 'CH_ID'])

In [69]:
df2.head()

,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,...,1990,1989,1988,1987,1986,1985,1984,1983,1982,1981
a334aa88-2d7c-4dae-8e59-9d9c796c4738,89571,97175.130469,98048.142333,99504.359719,98132.803734,94896.149115,99876.037832,98433.994015,97532.226501,98058.368963,...,83009.085013,78859.658089,76935.394240,73156.142656,69209.575422,64241.804757,64058.944905,64526.103522,61430.598164,60700.783305
9651414b-ef35-444c-9196-37d84f27bdb2,89571,97175.130469,98048.142333,99504.359719,98132.803734,94896.149115,99876.037832,98433.994015,97532.226501,98058.368963,...,83009.085013,78859.658089,76935.394240,73156.142656,69209.575422,64241.804757,64058.944905,64526.103522,61430.598164,60700.783305
30c5f141-e251-40a1-9fb7-f2dc5ab7eb91,131236,123124.325727,123988.516486,124853.225336,123929.396081,121837.870066,125858.956217,125617.489202,125426.317767,124610.094877,...,83341.850614,81588.425542,78574.807729,75334.264002,72193.109338,68008.981651,65469.116548,60378.619289,57013.419669,56303.477694
16a53660-621d-41d1-ab50-693e5c372af4,134794,126462.406367,127350.026602,128238.178975,127289.303357,125141.073011,129271.176692,129023.163153,128826.808780,127988.456893,...,85601.370140,83800.407148,80705.085746,77376.686137,74150.370174,69852.804663,67244.080099,62015.572011,58559.136905,57829.947364
bb2f3296-263c-4489-bf0f-76dad424459a,119300,111926.087805,112711.679849,113497.742864,112657.936484,110756.636128,114412.001865,114192.496432,114018.712164,113276.725280,...,75761.854813,74167.904898,71428.377595,68482.563438,65627.098845,61823.520307,59514.657595,54887.144390,51828.011876,51182.639587

In [72]:
def fillESALs(row):
    index = row['Contract History ID']
    value = str(row['YearC'])
    return df2.loc[index, value]

In [87]:
sds = ds[ds.YearC < 2014]

In [88]:
print len(sds)
print len(ds)

52760
52899

In [91]:
sds.columns

Index([                     u'YearC',           u'Sealed Alligator',
              u'Sealed Longitudinal',                     u'Int ID',
                               u'SR',                  u'Begin ARM',
                          u'End ARM',                       u'Year',
        u'Contract Type Description',          u'Surface Type Code',
         u'Surface Type Description',          u'Surface Thickness',
                           u'Region',                       u'ID_y',
                u'Construction Year',           u'Major Rehab Year',
               u'Segment Lane Miles',    u'ESALs Since Major Rehab',
                  u'Total Thickness',    u'Total Surface Thickness',
                    u'Pavement Type', u'Construction Pavement Type',
                 u'Major Rehab Type',     u'Prior Major Rehab Year',
           u'Prior Major Rehab Type',                u'Original ID',
                        u'Is Bridge',          u'Lane Surface Type',
                       u'Lane Miles',   u'Federal Functional Class',
            u'Avg Construction Date',       u'Avg Major Rehab Date',
                             u'Alli',                    u'CatAlli',
                             u'Long',                    u'CatLong',
                            u'AlliP',                      u'LongP',
                     u'Traffic Year',                      u'ESALs',
              u'Contract History ID',                     u'STcode',
                         u'Latitude',                  u'Longitude'],
      dtype='object')

In [93]:
#"Extrapolated" ESALs..
sds.loc[:,'ESALs'] = sds.apply(fillESALs, axis = 1)

In [97]:
sds.head()

,YearC,Sealed Alligator,Sealed Longitudinal,Int ID,SR,Begin ARM,End ARM,Year,Contract Type Description,Surface Type Code,...,Long,CatLong,AlliP,LongP,Traffic Year,ESALs,Contract History ID,STcode,Latitude,Longitude
0,2003,NaN,NaN,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,...,10,L,1.988636,0.946970,2013,40724.540843,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017
1,2004,NaN,NaN,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,...,84,L,0.946970,7.954545,2013,35842.303869,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017
2,2005,NaN,NaN,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,...,10,L,1.988636,0.946970,2013,35649.988229,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017
3,2006,NaN,NaN,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,...,5,L,1.988636,0.473485,2013,35979.602372,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017
4,2007,NaN,NaN,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,...,5,L,NaN,0.473485,2013,36506.698358,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017

In [98]:
#Exporting the almost complete dataset
sds.to_excel("../DataFiles/dataWesals.xlsx")

In [99]:
# creating new dataset with lat and londitude
cdf = sds[['Int ID', 'Latitude', 'Longitude']]

In [100]:
cdf.head()

   Int ID   Latitude   Longitude
0   54964  46.242524 -123.886017
1   54964  46.242524 -123.886017
2   54964  46.242524 -123.886017
3   54964  46.242524 -123.886017
4   54964  46.242524 -123.886017

In [101]:
coord = cdf.drop_duplicates()
print len(coord)
print len(cdf)

956
52760

In [108]:
scoord = coord.dropna(axis=0, how='any', thresh=None, subset=['Latitude','Longitude'], inplace=False)
scoord.index = range(len(scoord))

In [109]:
#Exporting the coordinate dataset
scoord.to_excel("../DataFiles/segCoord.xlsx")

In [113]:
wd = pd.read_excel("../DataFiles/1981.xlsx")

In [111]:
wd.head()

,Xmin,Xmax,Ymin,Ymax,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,-123.145833,-123.104167,48.979167,49.020833,9.85,8.53,12.26,11.97,15.140000,16.459999,19.580000,21.99,17.559999,12.36,11.56,7.67
1,-123.104167,-123.062500,48.979167,49.020833,9.33,8.49,12.56,12.71,16.139999,17.469999,20.700001,23.09,18.660000,12.71,11.24,7.03
2,-123.062500,-123.020833,48.979167,49.020833,9.69,8.69,12.49,11.88,15.070000,16.340000,19.530001,21.92,17.600000,12.33,11.66,7.54
3,-123.020833,-122.979167,48.979167,49.020833,9.69,8.69,12.49,11.88,15.070000,16.340000,19.530001,21.92,17.600000,12.33,11.66,7.54
4,-122.812500,-122.770833,48.979167,49.020833,9.12,8.80,12.93,13.26,16.709999,18.059999,21.000000,23.17,18.830000,13.16,11.54,7.00

In [150]:
wds = wd[['Xmin', 'Ymin', 'Xmax', 'Ymax']]

In [175]:
wds.loc[:,'Lat'] = wds.loc[:, 'Ymin'].add(wds.loc[:, 'Ymax'], level = float).divide(2, level = float)
wds.loc[:,'Long'] = wds.loc[:, 'Xmin'].add(wds.loc[:, 'Xmax'], level = float).divide(2, level = float)

In [176]:
wds.loc[:,'uid'] = wds.loc[:, 'Lat'].mul(wds.loc[:, 'Long'], level = float).divide(-7.5, level = float).mul(3097005138)

In [177]:
wds.uid = wds.uid.round()

In [178]:
wds.head()

         Xmin       Ymin        Xmax       Ymax  Lat        Long           uid
0 -123.145833  48.979167 -123.104167  49.020833   49 -123.125000  2.491283e+12
1 -123.104167  48.979167 -123.062500  49.020833   49 -123.083333  2.490439e+12
2 -123.062500  48.979167 -123.020833  49.020833   49 -123.041667  2.489596e+12
3 -123.020833  48.979167 -122.979167  49.020833   49 -123.000000  2.488753e+12
4 -122.812500  48.979167 -122.770833  49.020833   49 -122.791667  2.484538e+12

In [181]:
wds2 = wds.drop_duplicates(subset = ['uid'])
wds2.index = range(len(wds2))

In [182]:
print len(wds2)
print len(wds)

13579
13650

In [183]:
#Exporting the unique weather variable id dataset
wds2.to_excel("../DataFiles/wid.xlsx")

In [185]:
matchdf = pd.read_csv("../DataFiles/nearestWeatherID.csv")

In [186]:
rwid = pd.read_excel("../DataFiles/wid.xlsx")

In [187]:
rwid.head()

,ID,Xmin,Ymin,Xmax,Ymax,Lat,Long,uid
0,0,-123.145833,48.979167,-123.104167,49.020833,49,-123.125000,2491282549760
1,1,-123.104167,48.979167,-123.062500,49.020833,49,-123.083333,2490439476172
2,2,-123.062500,48.979167,-123.020833,49.020833,49,-123.041667,2489596402484
3,3,-123.020833,48.979167,-122.979167,49.020833,49,-123.000000,2488753328897
4,4,-122.812500,48.979167,-122.770833,49.020833,49,-122.791667,2484537960759

In [188]:
matchdf.head()

   InputID  TargetID  Distance
0    54964     10653  0.013314
1    55012     10653  0.013314
2    55019     10652  0.011168
3    55369      3861  0.014693
4    55432      4227  0.027231

In [189]:
scoord.head()

   Int ID   Latitude   Longitude
0   54964  46.242524 -123.886017
1   55012  46.242524 -123.886017
2   55019  46.245641 -123.906384
3   55369  47.943812 -122.877238
4   55432  47.854791 -122.601585

In [190]:
mdf = pd.merge(scoord, matchdf, how = 'left',left_on = ['Int ID'], right_on = ['InputID'])

In [191]:
mdf.head()

   Int ID   Latitude   Longitude  InputID  TargetID  Distance
0   54964  46.242524 -123.886017    54964     10653  0.013314
1   55012  46.242524 -123.886017    55012     10653  0.013314
2   55019  46.245641 -123.906384    55019     10652  0.011168
3   55369  47.943812 -122.877238    55369      3861  0.014693
4   55432  47.854791 -122.601585    55432      4227  0.027231

In [193]:
acomplete = pd.merge(mdf, rwid, how = 'left',left_on = ['TargetID'], right_on = ['ID'])

In [194]:
acomplete.head()

,Int ID,Latitude,Longitude,InputID,TargetID,Distance,ID,Xmin,Ymin,Xmax,Ymax,Lat,Long,uid
0,54964,46.242524,-123.886017,54964,10653,0.013314,10653,-123.895833,46.229167,-123.854167,46.270833,46.250000,-123.875000,2365789320730
1,55012,46.242524,-123.886017,55012,10653,0.013314,10653,-123.895833,46.229167,-123.854167,46.270833,46.250000,-123.875000,2365789320730
2,55019,46.245641,-123.906384,55019,10652,0.011168,10652,-123.937500,46.229167,-123.895833,46.270833,46.250000,-123.916667,2366585078963
3,55369,47.943812,-122.877238,55369,3861,0.014693,3861,-122.895833,47.937500,-122.854167,47.979167,47.958333,-122.875000,2433370704461
4,55432,47.854791,-122.601585,55432,4227,0.027231,4227,-122.604167,47.854167,-122.562500,47.895833,47.875000,-122.583333,2423376410746

In [196]:
len(acomplete) == len(mdf) == len(scoord)

True

In [198]:
Bdf = acomplete[[  u'Int ID',  u'Latitude', u'Longitude',  u'ID', u'Xmax', u'Ymax']]

In [199]:
Bdf.head()

   Int ID   Latitude   Longitude     ID        Xmax       Ymax
0   54964  46.242524 -123.886017  10653 -123.854167  46.270833
1   55012  46.242524 -123.886017  10653 -123.854167  46.270833
2   55019  46.245641 -123.906384  10652 -123.895833  46.270833
3   55369  47.943812 -122.877238   3861 -122.854167  47.979167
4   55432  47.854791 -122.601585   4227 -122.562500  47.895833

In [200]:
Bdf.to_excel('../DataFiles/coordLinker.xlsx')