In [1]:
import pandas as pd, numpy as np

In [2]:
fds = pd.read_csv('../modelDatasets/fullDataset.csv')

In [3]:
fds.columns

Index([u'Unnamed: 0', u'sYear', u'IntID', u'Rutting', u'IRI', u'PSC', u'PPC',
       u'PRC', u'Alli', u'Long', u'SR', u'Begin ARM', u'End ARM', u'UID',
       u'Is Bridge', u'Lane Surface Type', u'Lane Miles', u'Region_x',
       u'Federal Functional Class', u'Construction End Date',
       u'Substantial Completion Date', u'Contract Type Description',
       u'Surface Type Code', u'Surface Type Description', u'Surface Thickness',
       u'Treat Base Type Code', u'Treat Base Type Description',
       u'Treat Base Thickness', u'UTreat Base Thickness', u'cYear',
       u'Traffic Year', u'ESALs', u'Construction Year', u'Major Rehab Year',
       u'Segment Lane Miles', u'ESALs Since Major Rehab', u'Total Thickness',
       u'Total Surface Thickness', u'Listed Surface Type', u'Pavement Type',
       u'Construction Pavement Type', u'Major Rehab Type',
       u'Prior Major Rehab Year', u'Prior Major Rehab Type', u'sfThick',
       u'Tthick', u'TSfThick', u'STcode', u'cumPPT', u'meanMinTemp',
       u'meanMaxTemp', u'cumESALs', u'cumFTC'],
      dtype='object')

In [4]:
print len(fds)

373539

In [5]:
ds = pd.read_csv('../modelDatasets/rcModelData1215.csv')

In [6]:
ds.head()

,Unnamed: 0,UID,sYear,Rutting,IRI,PSC,Alli,Long,Is Bridge,Lane Miles,...,IRIsi,esals,ppt,mint,maxt,ICAO,ftc,SR,Begin ARM,End ARM
0,25095,1,1988,0.748,17.736993,67,0.001370,0.056856,0,0.36,...,3.359280,17996.598271,918.010010,33.584,74.336001,KPAE,5,2,0,0.1
1,26540,1,1989,0.236,17.736993,82,0.000000,0.029924,0,0.36,...,3.359280,18686.830557,833.750000,26.042,72.968000,KPAE,11,2,0,0.1
2,28193,1,1990,0.236,18.159243,82,0.000000,0.029924,0,0.36,...,3.439252,19088.431115,1106.859985,28.454,76.333998,KPAE,18,2,0,0.1
3,29936,1,1991,0.236,18.159243,71,0.000000,0.056856,0,0.36,...,3.439252,19903.607821,848.960022,32.378,77.666002,KPAE,5,2,0,0.1
4,15536,1,1996,0.276,20.059659,66,0.010038,0.056856,0,0.36,...,3.799179,22868.344489,1188.750000,32.054,77.575999,KPAE,24,2,0,0.1

In [10]:
fdSel = fds[['UID', 'Region_x']]
fdSel = fdSel.drop_duplicates(subset = ['UID'])

In [11]:
data = pd.merge(ds, fdSel, how = 'left', left_on = ['UID'], right_on = ['UID'])
len(data) == len(ds)

True

In [12]:
data.head()

,Unnamed: 0,UID,sYear,Rutting,IRI,PSC,Alli,Long,Is Bridge,Lane Miles,...,esals,ppt,mint,maxt,ICAO,ftc,SR,Begin ARM,End ARM,Region_x
0,25095,1,1988,0.748,17.736993,67,0.001370,0.056856,0,0.36,...,17996.598271,918.010010,33.584,74.336001,KPAE,5,2,0,0.1,Eastern
1,26540,1,1989,0.236,17.736993,82,0.000000,0.029924,0,0.36,...,18686.830557,833.750000,26.042,72.968000,KPAE,11,2,0,0.1,Eastern
2,28193,1,1990,0.236,18.159243,82,0.000000,0.029924,0,0.36,...,19088.431115,1106.859985,28.454,76.333998,KPAE,18,2,0,0.1,Eastern
3,29936,1,1991,0.236,18.159243,71,0.000000,0.056856,0,0.36,...,19903.607821,848.960022,32.378,77.666002,KPAE,5,2,0,0.1,Eastern
4,15536,1,1996,0.276,20.059659,66,0.010038,0.056856,0,0.36,...,22868.344489,1188.750000,32.054,77.575999,KPAE,24,2,0,0.1,Eastern

In [14]:
df = data[[u'UID', u'sYear', u'Rutting', u'IRI', u'PSC', u'Alli',
       u'Long', u'Is Bridge', u'Lane Miles', u'Segment Lane Miles',
       u'ESALs Since Major Rehab', u'sfThick', u'Tthick', u'TSfThick',
       u'STcode', u'cumPPT', u'meanMinTemp', u'meanMaxTemp', u'cumESALs',
       u'cumFTC', u'pAlli', u'pLong', u'IRIsi', u'esals', u'ppt', u'mint',
       u'maxt', u'ICAO', u'ftc', u'SR', u'Begin ARM', u'End ARM', u'Region_x']]
df.columns = [u'UID', u'sYear', u'Rutting', u'IRI', u'PSC', u'Alli',
       u'Long', u'Is Bridge', u'Lane Miles', u'Segment Lane Miles',
       u'ESALs Since Major Rehab', u'sfThick', u'Tthick', u'TSfThick',
       u'STcode', u'cumPPT', u'meanMinTemp', u'meanMaxTemp', u'cumESALs',
       u'cumFTC', u'pAlli', u'pLong', u'IRIsi', u'esals', u'ppt', u'mint',
       u'maxt', u'ICAO', u'ftc', u'SR', u'Begin ARM', u'End ARM', u'Region']

In [15]:
df.head()

,UID,sYear,Rutting,IRI,PSC,Alli,Long,Is Bridge,Lane Miles,Segment Lane Miles,...,esals,ppt,mint,maxt,ICAO,ftc,SR,Begin ARM,End ARM,Region
0,1,1988,0.748,17.736993,67,0.001370,0.056856,0,0.36,0.16,...,17996.598271,918.010010,33.584,74.336001,KPAE,5,2,0,0.1,Eastern
1,1,1989,0.236,17.736993,82,0.000000,0.029924,0,0.36,0.16,...,18686.830557,833.750000,26.042,72.968000,KPAE,11,2,0,0.1,Eastern
2,1,1990,0.236,18.159243,82,0.000000,0.029924,0,0.36,0.16,...,19088.431115,1106.859985,28.454,76.333998,KPAE,18,2,0,0.1,Eastern
3,1,1991,0.236,18.159243,71,0.000000,0.056856,0,0.36,0.16,...,19903.607821,848.960022,32.378,77.666002,KPAE,5,2,0,0.1,Eastern
4,1,1996,0.276,20.059659,66,0.010038,0.056856,0,0.36,0.16,...,22868.344489,1188.750000,32.054,77.575999,KPAE,24,2,0,0.1,Eastern

In [16]:
df.to_csv('../projdata/rcmdata.csv')

In [29]:
for reg in fds.Region_x.unique():
    print '%s: %d' %(reg, len(fds[fds.Region_x == reg]))

Northwest: 104852
Eastern: 65703
North Central: 53096
Olympic: 62014
Southwest: 44925
South Central: 42949

In [32]:
for reg in fds.Region_x.unique():
    print '%s: %.2f' %(reg, len(fds[fds.Region_x == reg])*1.0/len(fds))

Northwest: 0.28
Eastern: 0.18
North Central: 0.14
Olympic: 0.17
Southwest: 0.12
South Central: 0.11

In [33]:
ds2 = pd.read_csv('../modelDatasets/mcsdataset.csv')

In [34]:
data2 = pd.merge(ds2, fdSel, how = 'left', left_on = ['UID'], right_on = ['UID'])
len(data2) == len(ds2)

True

In [38]:
ds2.columns = [u'Unnamed: 0', u'UID', u'IsBridge', u'Lane Surface Type', u'LaneMiles',
       u'Region', u'FFClass', u'SurfaceTypeCode', u'STDescription',
       u'TreatBaseCode', u'TreatBaseDescription', u'TBThick', u'untrthick',
       u'Y_ESAL', u'MajorRehabYear', u'Cum_ESAL', u'SURFTHK', u'ULT',
       u'TSfThick', u'tmin', u'tmax', u'cumESALs', u'IRIsi', u'Alli', u'Long',
       u'E_Alli', u'E_Long', u'prep', u'MinT', u'MaxT', u'FTCycles',
       u'actbthick', u'pctbthick', u'ftprep', u'BA', u'AA', u'SR', u'BMP',
       u'SpeedLimit', u'ESALmean', u'ESALstd', u'PPTmean', u'PPTstd',
       u'MINTmean', u'MINTstd', u'MAXTmean', u'MAXTstd', u'FTCmean',
       u'FTCstd']

In [39]:
mcdata = ds2[[u'UID', u'IsBridge', u'Lane Surface Type', u'LaneMiles',
       u'Region', u'FFClass', u'SurfaceTypeCode', u'STDescription',
       u'TreatBaseCode', u'TreatBaseDescription', u'TBThick', u'untrthick',
       u'Y_ESAL', u'MajorRehabYear', u'Cum_ESAL', u'SURFTHK', u'ULT',
       u'TSfThick', u'tmin', u'tmax', u'cumESALs', u'IRIsi', u'Alli', u'Long',
       u'E_Alli', u'E_Long', u'prep', u'MinT', u'MaxT', u'FTCycles',
       u'actbthick', u'pctbthick', u'ftprep', u'BA', u'AA', u'SR', u'BMP',
       u'SpeedLimit', u'ESALmean', u'ESALstd', u'PPTmean', u'PPTstd',
       u'MINTmean', u'MINTstd', u'MAXTmean', u'MAXTstd', u'FTCmean',
       u'FTCstd']]

In [40]:
mcdata.to_csv('../modelDatasets/mcsdataset.csv')

In [41]:
d1 = pd.read_csv('../modelDatasets/rdata_mod_weather_covs.csv')

In [42]:
data3 = pd.merge(d1, fdSel, how = 'left', left_on = ['UID'], right_on = ['UID'])
len(data3) == len(d1)

True

In [44]:
data3.columns = ['x', u'UID', u'sYear', u'Rutting', u'IRI', u'PSC', u'Alli',
       u'Long', u'Is Bridge', u'Lane Miles', u'Segment Lane Miles',
       u'ESALs Since Major Rehab', u'sfThick', u'Tthick', u'TSfThick',
       u'STcode', u'cumPPT', u'meanMinTemp', u'meanMaxTemp', u'cumESALs',
       u'cumFTC', u'pAlli', u'pLong', u'IRIsi', u'esals', u'ppt', u'mint',
       u'maxt', u'ICAO', u'ftc', u'SR', u'Begin ARM', u'End ARM',
       u'Unnamed: 0_y', u'Year', u'latitude', u'longitude', u'A0', u'A1',
       u'A2', u'A3', u'B1', u'B2', u'B3', u'C1', u'C2', u'C3', u'Region']

In [45]:
rmdata = data3[[ u'UID', u'sYear', u'Rutting', u'IRI', u'PSC', u'Alli',
       u'Long', u'Is Bridge', u'Lane Miles', u'Segment Lane Miles',
       u'ESALs Since Major Rehab', u'sfThick', u'Tthick', u'TSfThick',
       u'STcode', u'cumPPT', u'meanMinTemp', u'meanMaxTemp', u'cumESALs',
       u'cumFTC', u'pAlli', u'pLong', u'IRIsi', u'esals', u'ppt', u'mint',
       u'maxt', u'ICAO', u'ftc', u'SR', u'Begin ARM', u'End ARM',
       u'Unnamed: 0_y', u'Year', u'latitude', u'longitude', u'A0', u'A1',
       u'A2', u'A3', u'B1', u'B2', u'B3', u'C1', u'C2', u'C3', u'Region']]

In [46]:
rmdata.to_csv('../modelDatasets/rmdata120715.csv')

In [47]:
locdata = pd.read_csv('../FinalDatasets/RCsegCoord.csv')

In [48]:
vdf = pd.merge(rmdata, locdata, how = 'left', left_on = 'UID', right_on = 'UID')
print len(vdf) == len(rmdata)

True

In [50]:
vdf.columns = [                    u'UID',                   u'sYear',
                       u'Rutting',                     u'IRI',
                           u'PSC',                    u'Alli',
                          u'Long',               u'Is Bridge',
                    u'Lane Miles',      u'Segment Lane Miles',
       u'ESALs Since Major Rehab',                 u'sfThick',
                        u'Tthick',                u'TSfThick',
                        u'STcode',                  u'cumPPT',
                   u'meanMinTemp',             u'meanMaxTemp',
                      u'cumESALs',                  u'cumFTC',
                         u'pAlli',                   u'pLong',
                         u'IRIsi',                   u'esals',
                           u'ppt',                    u'mint',
                          u'maxt',                    u'ICAO',
                           u'ftc',                      u'SR',
                     u'Begin ARM',                 u'End ARM',
                  u'Unnamed: 0_y',                    u'Year',
                      u'latitude',               u'longitude',
                            u'A0',                      u'A1',
                            u'A2',                      u'A3',
                            u'B1',                      u'B2',
                            u'B3',                      u'C1',
                            u'C2',                      u'C3',
                        u'Region',              u'Unnamed: 0',
                  u'Unnamed: 0.1',               u'longitude',
                      u'latitude']

In [51]:
vds = vdf[[ u'UID',                   u'sYear',
                       u'Rutting',                     u'IRI',
                           u'PSC',                    u'Alli',
                          u'Long',               u'Is Bridge',
                    u'Lane Miles',      u'Segment Lane Miles',
       u'ESALs Since Major Rehab',                 u'sfThick',
                        u'Tthick',                u'TSfThick',
                        u'STcode',                  u'cumPPT',
                   u'meanMinTemp',             u'meanMaxTemp',
                      u'cumESALs',                  u'cumFTC',
                         u'pAlli',                   u'pLong',
                         u'IRIsi',                   u'esals',
                           u'ppt',                    u'mint',
                          u'maxt',                    u'ICAO',
                           u'ftc',                      u'SR',
                     u'Begin ARM',                 u'End ARM',
                  u'Unnamed: 0_y',                    u'Year',
                      u'latitude',               u'longitude',
                            u'A0',                      u'A1',
                            u'A2',                      u'A3',
                            u'B1',                      u'B2',
                            u'B3',                      u'C1',
                            u'C2',                      u'C3',
                        u'Region',               u'longitude',
                      u'latitude']]

In [52]:
vds.head()

,UID,sYear,Rutting,IRI,PSC,Alli,Long,Is Bridge,Lane Miles,Segment Lane Miles,...,B2,B3,C1,C2,C3,Region,longitude,longitude,latitude,latitude
0,1,1988,0.748,17.736993,67,0.001370,0.056856,0,0.36,0.16,...,5,0,25.388300,13.780000,917.990000,Eastern,-122.169366,-122.169366,47.978215,47.978215
1,1,1989,0.236,17.736993,82,0.000000,0.029924,0,0.36,0.16,...,2,0,78.009700,36.600000,833.730003,Eastern,-122.169366,-122.169366,47.978215,47.978215
2,1,1990,0.236,18.159243,82,0.000000,0.029924,0,0.36,0.16,...,2,0,197.568803,50.050000,1106.920008,Eastern,-122.169366,-122.169366,47.978215,47.978215
3,1,1991,0.236,18.159243,71,0.000000,0.056856,0,0.36,0.16,...,4,0,32.225200,10.350000,848.949998,Eastern,-122.169366,-122.169366,47.978215,47.978215
4,1,1996,0.276,20.059659,66,0.010038,0.056856,0,0.36,0.16,...,5,0,380.070897,113.969999,1188.779993,Eastern,-122.169366,-122.169366,47.978215,47.978215

In [53]:
vds.to_csv('../projdata/vdata1.csv')