In [1]:
import pandas as pd, numpy as np

In [2]:
ds = pd.read_csv('../modelDatasets/ndata.csv')

In [3]:
ds.head()

,Unnamed: 0,UID,IsBridge,Lane Surface Type,LaneMiles,Region_x,FFClass,SurfaceTypeCode,STDescription,TreatBaseCode,...,E_Long,prep,MinT,MaxT,FTCycles,actbthick,pctbthick,ftprep,BA,AA
0,0,650,0,ACP,0.20,North Central,Rural Other Principal Arterial,D2,ACP CLASS 1/2IN PG58-34,0,...,9.424972,2056.719971,-5.48,21.600000,38,0,0,78155.358887,0,0
1,1,2651,0,ACP,0.30,Eastern,Rural Other Principal Arterial,BA,ACP CLASS B AR4000W,0,...,21.466953,343.649994,-8.73,30.420000,84,0,0,28866.599487,1,0
2,2,1193,0,ACP,0.20,North Central,Urban Other Freeway/Expressway,BA,ACP CLASS B AR4000W,0,...,17.737946,193.179993,-4.85,33.630001,21,0,0,4056.779846,1,0
3,3,1070,0,ACP,0.20,North Central,Rural Other Freeway/Expressway,BA,ACP CLASS B AR4000W,0,...,11.702109,323.160004,-6.27,32.840000,21,0,0,6786.360077,1,0
4,4,1192,0,ACP,0.12,North Central,Urban Other Freeway/Expressway,H2,ACP CLASS 1/2IN PG70-28,0,...,14.950525,193.179993,-4.85,33.630001,21,0,0,4056.779846,0,0

In [6]:
df = pd.read_csv('../tables/Traffic.txt', header=None)
exdf = pd.read_excel("../DataFiles/Traffic.xlsx")

In [7]:
df.columns = exdf.columns

In [8]:
print len(df)
df.head()

52428

,SR,RRT,RRQ,Begin ARM,End ARM,Begin SRMP,End SRMP,Direction To Inventory,Traffic Year,AADT,Single Trucks,Double Trucks,Train Trucks,Peak Hour Percentage,Peak Hour Directional Split,Traffic Year ESALs _One Direction_,Percent Trucks
0,2,NaN,NaN,0.00,0.13,0.00B,0.00,D,2004,8313,198,40,0,0.1502,1.0000,43508,2.86
1,2,NaN,NaN,0.13,0.19,0.00,0.06,B,2004,8313,198,40,0,0.1502,1.0000,21754,2.86
2,2,NaN,NaN,0.19,0.35,0.06,0.22,B,2004,20814,495,100,0,0.1502,1.0000,54458,2.86
3,2,NaN,NaN,0.35,2.16,0.22,2.03,B,2004,69473,4794,799,264,0.0956,0.5269,579912,8.43
4,2,NaN,NaN,2.16,2.34,2.03,2.21,B,2004,67921,4687,781,258,0.0956,0.5269,567192,8.43

In [10]:
for year in df['Traffic Year'].unique():
    print 'In year %d, there are %d unique segments' %(year, len(df[df['Traffic Year'] == year]))

In year 2004, there are 5066 unique segments
In year 2005, there are 5155 unique segments
In year 2006, there are 5181 unique segments
In year 2007, there are 5244 unique segments
In year 2008, there are 5312 unique segments
In year 2009, there are 5335 unique segments
In year 2010, there are 5375 unique segments
In year 2011, there are 5287 unique segments
In year 2012, there are 5241 unique segments
In year 2013, there are 5232 unique segments

In [11]:
db = pd.read_csv('../FinalDatasets/sid.csv')

In [12]:
def getUID(row):
    rd = row['SR']
    bg = row['bs']
    end = row['es']
    res = db[((db.SR==rd) & ((db.bs == bg) & (db.es == end)))].UID
    if list(res) == []:
        return None
    else:
        return list(res)[0]

In [13]:
def roundme(n):
    return int(n*10)

In [15]:
df.columns = [                                u'SR',
                                      u'RRT',
                                      u'RRQ',
                                u'BA',
                                  u'EA',
                               u'Begin SRMP',
                                 u'End SRMP',
                   u'Direction To Inventory',
                             u'Traffic Year',
                                     u'AADT',
                            u'Single Trucks',
                            u'Double Trucks',
                             u'Train Trucks',
                     u'Peak Hour Percentage',
              u'Peak Hour Directional Split',
       u'Traffic Year ESALs _One Direction_',
                           u'Percent Trucks']

In [16]:
df.loc[:, 'bs'] = df['BA'].apply(roundme)
df.loc[:, 'es'] = df['EA'].apply(roundme)

In [26]:
su = df.drop_duplicates(subset = ['SR', 'BA', 'EA'])

In [27]:
su.loc[:, 'UID'] = su.apply(getUID, axis = 1)
print len(su[np.isnan(su.UID)])
print len(su)

7661
8909

/Users/Alan/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/pandas/core/indexing.py:415: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [28]:
su_wid = su[~np.isnan(su.UID)]
su2 = su[np.isnan(su.UID)].sort(columns = ['SR', 'BA', 'EA'])

In [29]:
su_ids = np.array(su_wid.UID)
print len(su_wid), len(su2)

1248 7661

In [23]:
def fillUID(row):
    rd = row['SR']
    bg = row['BA']
    end = row['EA']
    begin = row['bs']
    if (end - bg > 0.05) & (end - bg < 0.15):
        res = db[((db.SR==rd) & (db.bs == begin))].UID
        if list(res) == []:
            return None
        else:
            x = list(res)[0]
            if x not in su_ids: #  change su_ids to a list and just append x to it if not found in ids.
                return x
            return None

In [30]:
su2.loc[:, 'UID'] = su2.apply(fillUID, axis = 1)

In [31]:
su_w2 = su2[~np.isnan(su2.UID)]
su3 = su2[np.isnan(su2.UID)]
print len(su3)

7383

In [34]:
def fillUID2(row):
    rd = row['SR']
    bg = row['BA']
    end = row['EA']
    begin = row['bs']
    if (end - bg > 0.01):
        res = db[((db.SR==rd) & (db.bs == int((bg*10 + end*10)/2)))].UID
        if list(res) == []:
            return None
        else:
            x = list(res)[0]
            if x not in su_ids:
                return x
            return None

In [36]:
su3.loc[:, 'UID'] = su3.apply(fillUID2, axis = 1)

In [37]:
su_w3 = su3[~np.isnan(su3.UID)]
su4 = su3[np.isnan(su3.UID)]
su_ids = np.concatenate((su_ids,np.array(su_w3.UID)),axis=0)

In [38]:
su_final = pd.concat([su_wid, su_w2, su_w3])
su_ds = su_final.drop_duplicates(subset = ['UID'])
print len(su_ds)

7589

In [41]:
df2    = pd.merge(su_ds, df, how = 'left', left_on = ['SR', 'BA', 'EA'], right_on = ['SR', 'BA', 'EA'])
df_wid = df2.dropna(subset = ['UID'])
print len(df2), len(df_wid), len(df)

KeyError: ['UID']