In [1]:
import pandas as pd
import numpy as np
import xlsxwriter

In [3]:
# Min temp data basefile
mnfile = "../MinTemp/" 
# Max temp data basefile
mxfile = "../MaxTemp/" 
# Precipiation data basefile
pfile = "../Ppt/"

In [18]:
def findMaxMin(db, code):
    if code == 'max':
        return db.max(axis=1)
    else:
        return db.min(axis=1)

In [54]:
def summarizeWeatherData(var):
    if var == 'maxT':
        bfile = mxfile
        code = 'max'
    elif var == "minT":
        bfile = mnfile
        code = 'min'
    else:
        bfile = pfile
        return pd.read_excel(bfile+'PrecipitationRecord1981_2013.xlsx')

    tdb = pd.read_excel(bfile+str(1991)+'.xlsx')
    merged = tdb[['Xmax', 'Ymax']]
    for year in np.arange(33)+1981:
        db = pd.read_excel(bfile+str(year)+'.xlsx')
        adb = db[[u'jan',  u'feb',  u'mar',  u'apr', u'may',  u'jun',  u'jul',  u'aug',  u'sep',  u'oct',  u'nov',  
                  u'dec']]
        req = findMaxMin(adb, code)
#         print np.array(req)[0:3]
        req.name = str(year)
        merged = merged.join(req)
    return merged

In [55]:
minTemp = summarizeWeatherData('minT')

In [52]:
maxTemp = summarizeWeatherData('maxT')

In [62]:
Ppt = summarizeWeatherData('ppt')

In [63]:
Ppt.head()

,Xmin,Xmax,Ymin,Ymax,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,-123.145833,-123.104167,48.979167,49.020833,983.059998,200.839996,1080.560059,1099.219971,675.909973,965.039978,...,940.770020,756.289978,948.270020,1078.319946,829.669983,876.640015,1026.729980,924.099976,1013.599976,799.309998
1,-123.104167,-123.062500,48.979167,49.020833,985.830017,201.100006,1082.969971,1100.270020,674.979980,969.799988,...,952.530029,781.619995,959.690002,1080.319946,832.559998,883.469971,1033.099976,931.729980,1014.599976,812.960022
2,-123.062500,-123.020833,48.979167,49.020833,1073.839966,202.610001,1133.239990,1151.199951,702.679993,985.760010,...,991.880005,856.340027,991.179993,1096.160034,847.979980,901.020020,1035.810059,938.890015,1031.709961,857.900024
3,-123.020833,-122.979167,48.979167,49.020833,1073.839966,202.610001,1133.239990,1151.199951,702.679993,985.760010,...,991.880005,856.340027,991.179993,1096.160034,847.979980,901.020020,1035.810059,938.890015,1031.709961,857.900024
4,-122.812500,-122.770833,48.979167,49.020833,1217.390015,217.500000,1187.459961,1191.660034,767.979980,1039.229980,...,1136.939941,1006.090027,1028.859985,1216.510010,969.190002,926.400024,1097.069946,1034.709961,1206.790039,956.330017

In [64]:
coordLinker = pd.read_excel('../DataFiles/coordLinker.xlsx')

In [65]:
coordLinker.head(10)

   Int ID   Latitude   Longitude     ID        Xmax       Ymax
0   54964  46.242524 -123.886017  10653 -123.854167  46.270833
1   55012  46.242524 -123.886017  10653 -123.854167  46.270833
2   55019  46.245641 -123.906384  10652 -123.895833  46.270833
3   55369  47.943812 -122.877238   3861 -122.854167  47.979167
4   55432  47.854791 -122.601585   4227 -122.562500  47.895833
5   55473  47.795164 -122.373605   4594 -122.354167  47.812500
6   55384  47.919418 -122.800770   4046 -122.770833  47.937500
7   56206  46.694240 -123.803590   8852 -123.770833  46.729167
8   56345  47.322197 -123.149192   6441 -123.145833  47.354167
9   56423  47.383104 -122.939421   6278 -122.937500  47.395833

In [66]:
df = pd.read_excel('../DataFiles/dataWesals.xlsx')

In [72]:
# df.columns

In [70]:
df = df[[u'YearC', u'Int ID',
                               u'SR',                  u'Begin ARM',
                          u'End ARM',                       u'Year',
        u'Contract Type Description',          u'Surface Type Code',
         u'Surface Type Description',          u'Surface Thickness',
                           u'Region',                       u'ID_y',
                u'Construction Year',           u'Major Rehab Year',
               u'Segment Lane Miles',    u'ESALs Since Major Rehab',
                  u'Total Thickness',    u'Total Surface Thickness',
                    u'Pavement Type', u'Construction Pavement Type',
                 u'Major Rehab Type',     u'Prior Major Rehab Year',
           u'Prior Major Rehab Type',                u'Original ID',
                        u'Is Bridge',          u'Lane Surface Type',
                       u'Lane Miles',   u'Federal Functional Class',
            u'Avg Construction Date',       u'Avg Major Rehab Date',
                             u'Alli',                    u'CatAlli',
                             u'Long',                    u'CatLong',
                            u'AlliP',                      u'LongP',
                     u'Traffic Year',                      u'ESALs',
              u'Contract History ID',                     u'STcode',
                         u'Latitude',                  u'Longitude']]

In [71]:
df.head()

,YearC,Int ID,SR,Begin ARM,End ARM,Year,Contract Type Description,Surface Type Code,Surface Type Description,Surface Thickness,...,Long,CatLong,AlliP,LongP,Traffic Year,ESALs,Contract History ID,STcode,Latitude,Longitude
0,2003,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,10,L,1.988636,0.946970,2013,40724.540843,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017
1,2004,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,84,L,0.946970,7.954545,2013,35842.303869,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017
2,2005,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,10,L,1.988636,0.946970,2013,35649.988229,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017
3,2006,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,5,L,1.988636,0.473485,2013,35979.602372,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017
4,2007,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,5,L,NaN,0.473485,2013,36506.698358,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017

In [97]:
index = np.array(coordLinker[coordLinker.loc[:,'Int ID'] == 5496].loc[:,'ID'])[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [78]:
maxTemp.loc[index, '1991']

32.029998779296903

In [93]:
def populateWeatherVariables(df):
    for row in df.index:
        xid = df.loc[row,'Int ID']
        year = df.loc[row,'YearC']
        val = str(year)
        index = np.array(coordLinker[coordLinker.loc[:,'Int ID'] == xid].loc[:,'ID'])[0]
        df.loc[row, 'PPT'] = Ppt.loc[index, val] 
        df.loc[row, 'MinTemp'] = minTemp.loc[index, val] 
        df.loc[row, 'MaxTemp'] = maxTemp.loc[index, val]

In [105]:
# df[((df.loc[:,'YearC'] == 2003) & (df.loc[:,'Int ID'] == 54964))].loc[:, 'ESALs']

In [96]:
len(df[df.YearC < 2014]) == len(df)

True

In [99]:
print len(np.unique(np.array(df[['Int ID']])))
print len(coordLinker)

956

In [102]:
df2 = df.dropna(axis=0, how='any', thresh=None, subset=['Longitude'], inplace=False)
print len(np.unique(np.array(df2[['Int ID']])))

In [106]:
populateWeatherVariables(df2)

/home/guerrero/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:415: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [107]:
df2.head()

,YearC,Int ID,SR,Begin ARM,End ARM,Year,Contract Type Description,Surface Type Code,Surface Type Description,Surface Thickness,...,LongP,Traffic Year,ESALs,Contract History ID,STcode,Latitude,Longitude,PPT,MinTemp,MaxTemp
0,2003,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,0.946970,2013,40724.540843,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017,185.619995,-2.08,34.279999
1,2004,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,7.954545,2013,35842.303869,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017,215.160004,-4.13,33.490002
2,2005,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,0.946970,2013,35649.988229,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017,188.020004,-4.41,33.029999
3,2006,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,0.473485,2013,35979.602372,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017,251.809998,-3.32,34.799999
4,2007,54964,101,0.53,0.63,1996,RESURFACE EXISTING RDWY,AA,ACP CLASS A AR4000W,0.15,...,0.473485,2013,36506.698358,0073c3c3-1b5a-40af-a002-022c09a2875d,AA,46.242524,-123.886017,173.809998,-4.77,34.380001

In [108]:
df2.to_excel('../DataFiles/cdata.xlsx')