In [1]:
import pandas as pd
import numpy as np

In [2]:
ppt = pd.read_csv('../FinalDatasets/ppt.csv')
maxt = pd.read_csv('../FinalDatasets/MaxT.csv')
mint = pd.read_csv('../FinalDatasets/MinT.csv')
esals =pd.read_csv('../FinalDatasets/ESALs.csv')
rdat = pd.read_csv('../FinalDatasets/RoughnessCrackingDataset.csv')

In [3]:
#Rehabilitation years
Ryrs = rdat[['UID', 'Major Rehab Year', 'Prior Major Rehab Year']]
Ryrs.columns = ['UID', 'MRYear', 'PMRYear']
Ryrs = Ryrs.drop_duplicates(subset = 'UID')
Ryrs.index = Ryrs.UID

In [4]:
import math
def removeNan(row):
    val = row['PMRYear']
    if math.isnan(val):
        return 1900
    return val

In [5]:
Ryrs.loc[:, 'PriorRehab'] = Ryrs.apply(removeNan, axis = 1)

In [6]:
Ryrs[Ryrs.PriorRehab==1900].head()

       UID  MRYear  PMRYear  PriorRehab
UID
399    399    2003      NaN        1900
443    443    2008      NaN        1900
1047  1047    2008      NaN        1900
401    401    2003      NaN        1900
1        1    1994      NaN        1900

In [7]:
print len(np.unique(np.array(esals.ID)))*33

316305

In [8]:
selected_ids = np.unique(np.array(ppt.ID))
esals = esals[esals.ID.isin(selected_ids)]

In [9]:
esals = esals.drop_duplicates(subset = ['ID'])
ppt  = ppt.drop_duplicates(subset = ['ID'])
mint = mint.drop_duplicates(subset = ['ID'])
maxt = maxt.drop_duplicates(subset = ['ID'])

In [10]:
print len(esals)
print len(ppt)
print len(mint)
print len(maxt)
print len(Ryrs)

8938
8938
8938
8938
8938

In [11]:
def addPrevRehabYear(row):
    ix = row['ID'] #index
    return Ryrs.loc[ix, 'PriorRehab']

def addRehabYear(row):
    ix = row['ID'] #index
    return Ryrs.loc[ix, 'MRYear']

In [12]:
def addRehabYears(df):
    df.loc[:, 'PriorMRyr'] = df.apply(addPrevRehabYear, axis =1)
    df.loc[:, 'MajorRyr'] = df.apply(addRehabYear, axis =1)

In [13]:
addRehabYears(esals)
addRehabYears(ppt)
addRehabYears(mint)
addRehabYears(maxt)

In [14]:
esals.head()

,Unnamed: 0,ID,Year,1981,1982,1983,1984,1985,1986,1987,...,2006,2007,2008,2009,2010,2011,2012,2013,PriorMRyr,MajorRyr
0,0,1,1981,12895.622638,13058.226161,13828.983957,14994.900067,15576.625091,16534.948341,17254.391382,...,28771.148850,28826.453915,27905.473334,28384.511776,28596.103563,28398.052581,28200.120262,30058,1900,1994
33,33,24,1981,74655.435707,75596.781245,80058.858085,86808.588411,90176.315303,95724.247479,99889.252548,...,166562.151628,166882.324128,161550.576411,164323.829367,165548.778134,164402.219899,163256.348627,174012,1975,2002
66,66,27,1981,45866.166245,46444.502042,49185.874538,53332.715961,55401.751123,58810.242107,61369.102197,...,102331.026057,102527.730891,99252.057462,100955.864825,101708.438342,101004.025728,100300.035164,106908,1994,2002
99,99,28,1981,45866.166245,46444.502042,49185.874538,53332.715961,55401.751123,58810.242107,61369.102197,...,102331.026057,102527.730891,99252.057462,100955.864825,101708.438342,101004.025728,100300.035164,106908,1994,2002
132,132,32,1981,49971.074003,50601.169416,53587.887929,58105.861341,60360.070002,64073.612448,66861.484150,...,111489.398277,111703.707705,108134.869653,109991.163537,110811.090510,110043.634720,109276.638753,116476,1988,2002

In [15]:
def cumVal(row):
    ix = row['ID']
    syear = row['Year']
    l = np.array(row[['1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', 
                      '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
                     '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', 
                     '2011', '2012', '2013']])
    pmr = int(row['PriorMRyr'])
    if pmr > 1981:
        p1 = pmr - 1981
    else:
        p1 =0
    mr  = int(row['MajorRyr'])
    if (mr > 1981) & (mr < 2014):
        p2 = mr - 1981
    else:
        p2 =0
        
    if (p1 ==0) & (p2==0):
        res = list(np.cumsum(l))
        
    elif p1 == 0:
        l1 = list(np.cumsum(l[0:p2]))
        l2 = list(np.cumsum(l[p2:]))
        res = l1 + l2
    else:
        l1 = list(np.cumsum(l[0:p1]))
        l2 = list(np.cumsum(l[p1:p2]))
        l3 = list(np.cumsum(l[p2:]))
        res = l1 + l2 + l3
        
    return ix, syear, res

In [16]:
distributeResultToColumns = lambda x: pd.Series(([i for i in x[:2]] + [j for j in x[2:][0]]))
colNames = esals.columns[1:-2]
def getCumVarDataset(df):
    rdf = df.apply(cumVal, axis = 1)
    rdf = pd.DataFrame(rdf)
    rdf.columns = ['Results']
    newdf = rdf['Results'].apply(distributeResultToColumns)
    output = newdf[range(35)]
    output.columns = colNames
    return output

In [17]:
def cmean(row): #function determines the cumulative variables in a row
    ix = row['ID']
    syear = row['Year']
    l = np.array(row[['1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', 
                      '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
                     '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', 
                     '2011', '2012', '2013']])
    pmr = int(row['PriorMRyr'])
    if pmr > 1981:
        p1 = pmr - 1981
    else:
        p1 =0
    mr  = int(row['MajorRyr'])
    if (mr > 1981) & (mr < 2014):
        p2 = mr - 1981
    else:
        p2 =0
        
    if (p1 ==0) & (p2==0):
        r = np.cumsum(l)
        d = np.arange(len(r))+1
        res = list(r/d)
        
    elif p1 == 0:
        l1 = np.cumsum(l[0:p2])
        d1 = np.arange(len(l1))+1
        l2 = np.cumsum(l[p2:])
        d2 = np.arange(len(l2))+1
        meanl1 = l1/d1
        meanl2 = l2/d2
        res = list(meanl1) + list(meanl2)
    else:
        l1 = np.cumsum(l[0:p1])
        d1 = np.arange(len(l1))+1
        l2 = np.cumsum(l[p1:p2])
        d2 = np.arange(len(l2))+1
        l3 = np.cumsum(l[p2:])
        d3 = np.arange(len(l3))+1
        meanl1 = l1/d1
        meanl2 = l2/d2
        meanl3 = l3/d3
        res = list(meanl1) + list(meanl2) + list(meanl3)
        
    return ix, syear, res

In [ ]:
distributeResultToColumns = lambda x: pd.Series(([i for i in x[:2]] + [j for j in x[2:][0]]))
colNames = esals.columns[1:-2]
def cmeanVarDataset(df):
    rdf = df.apply(cmean, axis = 1)
    rdf = pd.DataFrame(rdf)
    rdf.columns = ['Results']
    newdf = rdf['Results'].apply(distributeResultToColumns)
    output = newdf[range(35)]
    output.columns = colNames
    return output

In [ ]:
cumPpt   = getCumVarDataset(ppt)
cumEsals = getCumVarDataset(esals)
meanMaxT = cmeanVarDataset(maxt)
meanMinT = cmeanVarDataset(mint)

In [ ]:
meanMinT.head()

In [ ]:
cumPpt.to_csv('../FinalDatasets/cumPPT.csv')
cumEsals.to_csv('../FinalDatasets/cumEsals.csv')
meanMaxT.to_csv('../FinalDatasets/meanMaxT.csv')
meanMinT.to_csv('../FinalDatasets/meanMinT.csv')