In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../FinalDatasets/RdatasetCPM.csv')
cumPpt = pd.read_csv('../FinalDatasets/cumPPT.csv')
cumEsals = pd.read_csv('../FinalDatasets/cumEsals.csv')
meanMaxT = pd.read_csv('../FinalDatasets/meanMaxT.csv')
meanMinT = pd.read_csv('../FinalDatasets/meanMinT.csv')

In [3]:
df = df[df.sYear < 2014]
len(df[df.sYear < 2014]) == len(df)

True

In [4]:
col_index = cumPpt.ID.unique()
print len(col_index) == len(cumPpt)

True

In [5]:
cumPpt.index = col_index
cumEsals.index = col_index
meanMaxT.index = col_index
meanMinT.index = col_index

In [ ]:
#cleaned dataset: removed rows which have no weather data
ds = df[df.ID.isin(col_index)]
print len(ds), len(df)

182518 196493

In [ ]:
def popPPT(row):
    index = row['UID']
    year  = row['sYear']
    val   = str(year)
    return cumPpt.loc[index, val]
ds.loc[:, 'cumPPT'] = ds.apply(popPPT, axis = 1)

In [ ]:
def popMinT(row):
    index = row['UID']
    year  = row['sYear']
    val   = str(year)
    return meanMinT.loc[index, val]
ds.loc[:, 'meanMinTemp'] = ds.apply(popMinT, axis = 1)

In [ ]:
def popMaxT(row):
    index = row['UID']
    year  = row['sYear']
    val   = str(year)
    return meanMaxT.loc[index, val]
ds.loc[:, 'meanMaxTemp'] = ds.apply(popMaxT, axis = 1)

In [ ]:
def popCumEsals(row):
    index = row['UID']
    year  = row['sYear']
    val   = str(year)
    return cumEsals.loc[index, val]
ds.loc[:, 'cumESALs'] = ds.apply(popCumEsals, axis = 1)

In [ ]:
ds.head()

# Adding Freeze-Thaw Cycles

In [ ]:
rdat = pd.read_csv('../FinalDatasets/RoughnessCrackingDataset.csv')

In [ ]:
rdf = rdat[['UID','Latitude', 'Longitude']]

In [ ]:
ndf = rdf[rdf.UID.isin(col_index)]
ndf = ndf.drop_duplicates(subset = 'UID')

In [ ]:
ndf.index = np.arange(len(ndf))+1
print len(ndf) == len(cumPpt)

In [ ]:
ndf.to_csv('../FinalDatasets/cmp_seg_icao_matching.csv')

In [ ]:
cpmSegAp = pd.read_csv('../FinalDatasets/CPM_seg_icao.csv')

In [ ]:
print len(cpmSegAp) == len(ndf)

In [ ]:
cpmSegAp.index = ndf.UID

In [ ]:
cpmSegAp.head()

In [ ]:
wds = pd.read_excel('../DataFiles/AnnualWeatherR.xlsx') #contains yrs 1981 -1999
wds2 = pd.read_excel('../DataFiles/AnnualWeatherR2.xlsx') # runs from 2000-2013

In [ ]:
# combining the datasets
wd = wds[['Year', 'FTCycles', 'Airport']]
wdt = pd.concat([wd, wds2], axis = 0)

In [ ]:
#checking that combination code was accurate
len(wdt) == len(wd)+len(wds2)

In [ ]:
wdt.head()

In [ ]:
ft = wdt.pivot('Airport', 'Year', 'FTCycles')

In [ ]:
ft.head()

The following code identifies the points in time at which major rehabilitation occured.

In [ ]:
Ryrs = rdat[['UID', 'Major Rehab Year', 'Prior Major Rehab Year']]
Ryrs = Ryrs[Ryrs.UID.isin(col_index)]
Ryrs.columns = ['UID', 'MRYear', 'PMRYear']
Ryrs = Ryrs.drop_duplicates(subset = 'UID')
Ryrs.index = Ryrs.UID

In [ ]:
import math
def removeNan(row):
    val = row['PMRYear']
    if math.isnan(val):
        return 1900
    return val
Ryrs.loc[:, 'PriorRehab'] = Ryrs.apply(removeNan, axis = 1)

In [ ]:
Ryrs.head()

In [ ]:
def getCode(row):
    index = row['UID']
    return cpmSegAp.loc[index,'TargetID']

In [ ]:
Ryrs.loc[:, 'ICAO'] = Ryrs.apply(getCode, axis =1)

In [ ]:
ft.loc[:,'ICAO'] = ft.index

In [ ]:
ft.head()

In [ ]:
ftdb = pd.merge(Ryrs, ft, how ='left', left_on =['ICAO'], right_on = 'ICAO')

In [58]:
ftdb.head()

,UID,MRYear,PMRYear,PriorRehab,ICAO,1980,1981,1982,1983,1984,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,222,2000,1989,1989,KAWO,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,540,1998,1984,1984,KESW,99,109,124,110,147,...,117,99,116,131,132,79,115,104,54,38
2,2431,1999,1987,1987,KSKA,49,34,67,49,59,...,40,37,54,64,73,60,56,78,92,84
3,704,2014,2003,2003,KESW,99,109,124,110,147,...,117,99,116,131,132,79,115,104,54,38
4,776,2003,1997,1997,KESW,99,109,124,110,147,...,117,99,116,131,132,79,115,104,54,38

In [88]:
def cumVal(row):
    ix = row['UID']
    l = np.array(row[['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', 
                      '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
                     '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', 
                     '2011', '2012', '2013']])
    pmr = int(row['PriorRehab'])
    if pmr > 1981:
        p1 = pmr - 1981
    else:
        p1 =0
    mr  = int(row['MRYear'])
    if (mr > 1981) & (mr < 2014):
        p2 = mr - 1981
    else:
        p2 =0
        
    if (p1 ==0) & (p2==0):
        res = list(np.cumsum(l))
        
    elif p1 == 0:
        l1 = list(np.cumsum(l[0:p2]))
        l2 = list(np.cumsum(l[p2:]))
        res = l1 + l2
    else:
        l1 = list(np.cumsum(l[0:p1]))
        l2 = list(np.cumsum(l[p1:p2]))
        l3 = list(np.cumsum(l[p2:]))
        res = l1 + l2 + l3
        
    return ix, res

In [72]:
distributeResultToColumns = lambda x: pd.Series(([i for i in x[:1]] + [j for j in x[1:][0]]))
colNames = np.concatenate((np.array(['UID']),ftdb.columns[5:]), axis = 0)
def getCumVarDataset(df):
    rdf = df.apply(cumVal, axis = 1)
    rdf = pd.DataFrame(rdf)
    rdf.columns = ['Results']
    newdf = rdf['Results'].apply(distributeResultToColumns)
    output = newdf[range(35)]
    output.columns = colNames
    return output

In [71]:
np.concatenate((np.array(['UID']),ftdb.columns[5:]), axis = 0)

array(['UID', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013], dtype=object)

In [79]:
np.arange(34)+1980

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013])

In [89]:
ftdb.columns = [ u'UID',     u'MRYear',    u'PMRYear', u'PriorRehab',  u'ICAO', '1980', '1981', '1982', 
                '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', 
                '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', 
                '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']

In [90]:
cumFTCycles   = getCumVarDataset(ftdb)

In [92]:
cumFTCycles.index = cumFTCycles.UID
cumFTCycles.head()

,UID,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
UID,,,,,,,,,,,,,,,,,,,,,
222,222,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
540,540,99,208,332,110,257,359,480,574,683,...,995,1094,1210,1341,1473,1552,1667,1771,1825,1863
2431,2431,49,83,150,199,258,335,52,101,149,...,391,428,482,546,619,679,735,813,905,989
704,704,99,208,332,442,589,691,812,906,1015,...,332,442,589,691,812,906,1015,1083,1186,1303
776,776,99,208,332,442,589,691,812,906,1015,...,366,465,581,712,844,923,1038,1142,1196,1234

In [93]:
def popCumFTC(row):
    index = row['UID']
    year  = row['sYear']
    val   = year
    return cumFTCycles.loc[index, val]
ds.loc[:, 'cumFTC'] = ds.apply(popCumFTC, axis = 1)

In [94]:
ds.head()

,Year,ID,UID,sYear,Rutting,IRI,PSC,AlliP,LongP,Trans_Cracking,...,sfThick,Tthick,TSfThick,STcode,AlliPred,cumPPT,meanMinTemp,meanMaxTemp,cumESALs,cumFTC
0,1981,222,222,1981,0.236,15.836577,92,0.000000,3.960055,5,...,0.00,0.15,0.15,PA,1.910057,1690.469971,1.31,26.850000,57829.947364,0
1,1981,540,540,1981,0.236,18.840242,83,0.000000,0.000000,0,...,0.15,1.65,0.90,Other,2.126044,2157.649902,-2.84,25.230000,35421.157984,208
2,1981,2431,2431,1981,0.512,20.429158,37,5.965909,14.962121,37,...,0.15,1.56,0.98,BA,7.894043,337.529999,-5.94,31.230000,58882.558639,83
3,1981,704,704,1981,0.236,7.654330,40,0.000000,64.962121,0,...,0.65,1.75,1.00,Other,10.134499,1980.089966,-6.77,23.930000,28915.396971,208
4,1981,776,776,1981,0.236,11.085579,48,3.977273,9.974747,10,...,0.50,2.15,0.65,BA,3.722601,1099.699951,-6.72,28.370001,35606.843246,208

In [95]:
ds.to_csv('../FinalDatasets/CPMdataset1007.csv')